[2019-02-20 23:28] chegewara opened #16 "aws-iot last will (IDFGH-644) (CA-10)"
I am fighting for some time with aws-iot last will. When i set plain text in last will there is no issue, but when i am trying to set simple json string then most of the time data is corrupted. Usually its missing 1 or 2 leading chars or sometimes leading bytes (1-2) are replaced with other random char.
I could add leading space if not the problem that sometimes 2 chars are corrupted and in very r

[2019-04-18 02:15] myzhang001 opened #1 "aws iot aws_iot_shadow_register_delta api 问题 (IDFGH-994)"
在使用 aws  iot  sdk 的时候
调用 aws_iot_shadow_register_delta（）api 时候注册的字段超过9个 后
然后调用 aws_iot_shadow_update 就会导致复位

[2019-04-18 05:29] mahavirj commented on #1
@myzhang001 Could you please help to share entire application/test code with `sdkconfig`?

[2019-04-18 05:50] myzhang001 commented on #1
`/*
this is   sdkconfig
 *
 * Automatically generated file; DO NOT EDIT.
 * Espressif IoT Development Framework Configuration
 *
 */
#define CONFIG_ESP32_PHY_MAX_TX_POWER 20
#define CONFIG_TRACEMEM_RESERVE_DRAM 0x0
#define CONFIG_FREERTOS_MAX_TASK_NAME_LEN 16
#define CONFIG_MQTT_TRANSPORT_SSL 1
#define CONFIG_MB_SERIAL_TASK_PRIO 10
#define CONFIG_MQTT_PROTOCOL_311 1
#define CONFIG_TCP_RECVMBOX_SIZ

[2019-04-18 05:51] myzhang001 commented on #1
`#include "user_aws_handle.h"

#include <stdio.h>
#include <stdlib.h>
#include <ctype.h>
#include <unistd.h>
#include <limits.h>
#include <string.h>

#include "freertos/FreeRTOS.h"
#include "freertos/task.h"
#include "freertos/event_groups.h"
#include "esp_system.h"
#include "esp_wifi.h"
#include "esp_event_loop.h"
#include "esp_log.h"
#include "esp_vfs_fat.h"
#include "driver/sdmmc_host.h"

#incl

[2019-04-19 12:51] mahavirj commented on #1
@myzhang001 I am having trouble understanding your problem. Probably you are using `thing_shadow` example, can you please provide your changes in `zip` format so that it is easier to understand?

Also need help on some other questions:
 - Is problem reproducible with default `thing_shadow` example in IDF?
 - Which IDF version you are using?

[2019-04-23 16:37] borch84 opened #2 "Error compiling subscribe publish example - timer_platform.h no such file"
Hi, today I git cloned the repository:

`$ git clone https://github.com/espressif/esp-aws-iot.git`

I changed directory to examples/subscribe_publish and executed make command however I got this:

[code]
The last commit id is:
[code]

The version of the IDF I am using is located at:

[code]

[2019-04-24 05:49] mahavirj commented on #2
@borch84 Can you try cloning repository recursively as mentioned in https://github.com/espressif/esp-aws-iot/blob/master/README.md?

[2019-04-25 01:03] wltn928 commented on #2
@borch84
when download with "git clone" ,
you must use "--recursive" option
it can also download "aws-iot-device-sdk-embedded-C" (included header file)

[2019-04-25 02:18] borch84 commented on #2
Hi @mahavirj, @wltn928 I was able to compile the example successfully. Thank you. I did not include the --recursive option. Regards

[2019-04-25 02:18] #2 closed

[2019-04-29 02:31] wltn928 opened #3 "Change json data in thing_shadow_sample.c"
Hi,

About change json data(document) in thing_shadow_sample.c

![image](https://user-images.githubusercontent.com/34079247/56873858-5b2bf680-6a70-11e9-9372-39342e1b90a3.png)

How to fix it?

I want to put the my data in the "char JsonDocumentBuffer"
(I do not know when the data is initialized.)

Thank you for reading.
Yours faithfully.

[2019-04-30 08:53] #1 closed

[2019-04-30 08:55] mahavirj commented on #3
@wltn928 You may customize JSON data by modifying application, please see below where JSON document gets created,
https://github.com/espressif/esp-aws-iot/blob/7a5d204da1bdf7a3d3d8ee7f7287ce87acf29048/examples/thing_shadow/main/thing_shadow_sample.c#L303

[2019-05-02 07:50] wltn928 commented on #3
@mahavirj
Thanks to reply..

ex)
char JsonDocumentBuffer[MAX_LENGTH_OF_UPDATE_JSON_BUFFER]="{\"state\": { \"desired\": {\"welcome\": \"test\" } } }";

Do you mean to do this??
I'm really sorry.. but I have no confidence using JSON documents..

[2019-05-07 12:52] mahavirj commented on #3
@wltn928 I meant that you can use APIs provided by AWS IoT SDK itself,  e.g. https://github.com/espressif/aws-iot-device-sdk-embedded-C/blob/299183238ffe7a3e6a5ca0af9db19c10eaca62cf/include/aws_iot_shadow_json_data.h#L117 allows you to add desired section of JSON document using `key-pair` value from https://github.com/espressif/aws-iot-device-sdk-embedded-C/blob/299183238ffe7a3e6a5ca0af9db19c10eac

[2019-05-08 08:37] wltn928 commented on #3
@mahavirj
Thanks for your help!! Thank you!!

[2019-05-08 08:37] #3 closed

[2019-05-09 07:56] wltn928 opened #4 "undefined reference to "FUNCTION""
Hi,

I am trying to integrate thing_shadow and ble_prov(in esp-idf/example)
( set wifi with ble_prov -> shadow_get )

Add
`#include <esp_bt.h>`
and make command there are problems like below
![image](https://user-images.githubusercontent.com/34079247/57436314-66ee9880-727a-11e9-958b-52a13426e261.png)

It looks like it doesn't refer to a function due to a library problem.
Can I link library??

Than

[2019-05-09 08:05] mahavirj commented on #4
@wltn928 Have you enabled `Bluetooth` from configuration option (`CONFIG_BT_ENABLED=y` have this line in your sdkconfig)?

[2019-05-16 00:07] wltn928 commented on #4
@mahavirj
I honestly respect you.
Thanks for help!!

[2019-05-16 00:07] #4 closed

[2019-05-24 20:16] borch84 opened #5 "Cannot compile project with CMakeLists.txt"
Hi, I am trying to compile my project but it is not finding aws_iot_config.h
[code]
I already updated my project's CMakeLists.txt with the following parameters:
[code]
If I run make inside esp-aws-iot/examples/thing_shadow the project is compiled successfully.
I am using ESP IDF master branch as well.

Thanks.

[2019-05-24 20:50] borch84 commented on #5
Hi, Problem was I did not configure correctly Makefile. Now I changed accordingly to this:
[code]
And I was able to compile the example.  Thanks.

[2019-05-24 20:50] #5 closed

[2019-06-03 18:07] wojo1206 opened #6 "shadow: aws_iot_shadow_connect returned error -12, aborting..."
I don't think shadow_thing example works anymore. I got thing setup on AWS cloud and its certificates downloaded and activated. The thing has wide open policy. Certificates are embedded into source.

I got following error message after `Shadow Init` step:

`E (5978) shadow: aws_iot_shadow_connect returned error -12, aborting...`

ESP-IDF: v4.0-dev-667-gda13efc17

[2019-06-03 20:41] wojo1206 commented on #6
My AWS policy wasn't "wide open". This is example of "wide open" AWS IoT policy:
`
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:*",
      "Resource": [
        "*"
      ]
    }
  ]
}
`
After I changed to this policy the example works.

[2019-06-03 20:41] #6 closed

[2019-06-07 04:58] hanhdt opened #7 "Publish/Subscribe: aws_iot failed! mbedtls_ssl_handshake returned -0x10"
Hi,
I tried to connect AWS IoT for testing but got this issue, could you have any suggestions?
Here is logs:
[code]

Thank you.

[2019-06-07 23:29] shahpiyushv commented on #7
@hanhdt The error code 0x0010 indicates MBEDTLS_ERR_MPI_ALLOC_FAILED. Does you application code have many/big memory allocations?

[2019-06-08 03:12] hanhdt commented on #7
@shahpiyushv thanks for your quick response.
Actually I have used BLE and WiFi together and it might take a lot memory at that moments.
So, I will update to reduce memory allocation.

[2019-06-08 11:14] #7 closed

[2019-07-17 14:40] wzbhbb opened #8 "Can you support ESP8266?"
Hi,
i want to know whether this framework support ESP8266?
https://github.com/espressif/ESP8266_RTOS_SDK

[2019-07-17 14:54] shahpiyushv commented on #8
@wzbhbb The ESP8266 RTOS SDK has aws-iot as a committed component (https://github.com/espressif/ESP8266_RTOS_SDK/tree/master/components/aws_iot).

The esp-aws-iot is currently expected to be used only with ESP32 (ESP IDF). Going ahead, we may add support for ESP8266 here, but as of now, there is no immediate plan for that.

[2019-07-18 14:35] wzbhbb commented on #8
Thanks you

[2019-07-19 03:06] #8 closed

[2019-08-01 08:02] gearsmotion789 opened #9 "Thing Shadow example stops working after 5-10min (IDFGH-1604)"
I've ran the thing_shadow example from https://github.com/espressif/esp-aws-iot/tree/master/examples/thing_shadow succesfully. However, after 5-10min of inactivity (meaning that I don't update the device shadow), the device doesn't respond to anymore changes to the shadow. I don't see that it disconnected from AWS on the monitor - **so why is this happening and how can I fix this?**

I've modified

[2019-08-01 08:13] gearsmotion789 commented on #9
@chegewara I tried doing that, but the callback was never triggered.
[code]

[2019-08-01 10:29] shahpiyushv commented on #9
@gearsmotion789 is your problem similar to this: https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/161?

[2019-08-01 16:40] gearsmotion789 commented on #9
@shahpiyushv No. It doesn't seem to disconnect or reconnect according to the monitor.

[2019-08-02 07:27] gearsmotion789 commented on #9
@shahpiyushv I believe that it is the same issue. I have changed keepAliveIntervalInSec from 600 to 65 in aws_iot_shadow.c and I no longer see this problem. **However, I wanted to ask is there any negatives to doing this (e.g more frequent polling of AWS IoT = more $$$)? Is there a better solution that doing this?**

[2019-08-02 08:34] shahpiyushv commented on #9
@gearsmotion789 there is no impact on cost as AWS pricing is based on MQTT messages and connection time, not the exchange of keep-alive messages. Meanwhile, can you check for a slightly larger value, say 300 seconds?

[2019-08-02 18:06] gearsmotion789 commented on #9
@shahpiyushv Also, according to the link you gave, it says "The client disconnects at 1.5 times the keep alive value". How can I prevent the client from ever disconnecting?

[2019-08-04 00:00] gearsmotion789 commented on #9
@shahpiyushv Thanks. So I wanted to understand why this problem happened. It seems the device resets the keepAliveIntervalInSec (so it doesn't disconnect) whenever AWS IoT receives a PUBLISH, SUBSCRIBE, PING, or PUBACK message from the client according to https://github.com/awslabs/aws-iot-device-sdk-cpp-v2/issues/10. When does this happen in my code & at what interval? - why did it fail when keep

[2019-08-14 06:43] Monika121 opened #10 "subscribe publish example run time crash."
I am new to this environment and may be not able to understand the output log. This code is crashing i have given the output below,Please take a look, Thanks in advance.
 I am working with
1. ESP-SOLO 1 board which is single core .
2. IDF-Version v3.2.
3. I have configured all menuconfig configrations and re-checked the same.
4. warning in code are unused decleration of 3 variables
   aws_root_ca_

[2019-08-14 20:19] shahpiyushv commented on #10
@Monika121, can you try by changing the last parameter of xTaskCreatePinnedToCore()  from 1 to
tskNO_AFFINITY at
https://github.com/espressif/esp-aws-iot/blob/master/examples/subscribe_publish/main/subscribe_publish_sample.c#L331?

[2019-08-19 05:07] Monika121 commented on #10
Thank you for your reply @shahpiyushv , i tried the above but the output is still same.I have one doubt i am using esp SOLO-1 board which is of single core can that be the issue .

[2019-08-19 05:11] Monika121 commented on #10
Thank you for your reply @shahpiyushv , i tried the above but the output is still same.

[2019-08-19 08:36] InfiniteYuan1 opened #11 "How to control AWS IOT devices with Alexa？"
Hi，
I have encountered problems with controlling ESP32 via Alexa.

 - ESP32 accesses AWS IOT via aws-iot-device-sdk-embedded-C

Is there any way to control esp32 through alexa?

[2019-08-19 08:53] shahpiyushv commented on #10
@Monika121 , I had thought that tskNO_AFFINITY should work fine for the ESP-Solo module, but seems that you need to explicitly set the core number to 0. So, can you try replacing tskNO_AFFINITY with 0? If even that does not work, please replace the xTaskCreatePinnedToCore() function call with xTaskCreate().

[2019-08-19 12:20] Monika121 commented on #10
Thank you @shahpiyushv ,Things are working fine with xTaskCreate().

[2019-08-19 12:20] #10 closed

[2019-08-22 08:03] Monika121 opened #12 "Not Able to include new header"
I am new to this environment .I am planning to make project in which esp32 scans bluetooth beacons and send the rssi value to the aws cloud. So i am trying to take subcribe publish example as basecode and merging the gatt_client code in this code in which I am trying to include the header files.It is expected that all files of components under esp-idf can be built without any perticular chnage in

[2019-08-22 10:29] shahpiyushv commented on #12
@Monika121 , Can you check if `CONFIG_BT_ENABLED=y` is set in your sdkconfig?

[2019-08-22 11:42] Monika121 commented on #12
Thank you @shahpiyushv problem resloved. I was really confused and found this silly mistake.Thank you so much for your support .

[2019-08-22 11:42] #12 closed

[2019-08-27 11:56] WiktorBAbove opened #13 "Update to v4.0 aws-iot-device-sdk-embedded-C? (CA-11)"
Hi,
Will there be added support for:
https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/v4_beta
?

[2019-09-05 16:05] sagar448 opened #14 "Update Time Out"
I have adapted the aws code for my needs, everything works perfectly if I only have uptil 7 JsonStruct_t in the aws iot shadow add reported function. Once I surpass 7 and add the 8th JsonStruct handler I start getting update time out error. I've tried increasing the update time from 4 seconds to almost 10 seconds but it does nothing. Also even though it shows update time out the shadow update is b

[2019-09-05 19:44] shahpiyushv commented on #14
@sagar448 , since Thing-Shadow basically uses MQTT publish/subscribe itself, can you try increasing the values for CONFIG_AWS_IOT_MQTT_TX_BUF_LEN and CONFIG_AWS_IOT_MQTT_RX_BUF_LEN? Probably the payload may be going beyond the default sizes?

[2019-09-05 20:51] sagar448 commented on #14
@shahpiyushv  Thank you for your help. I do not think the TX buff length and the RX buff length are the problem as I have tried to increase them before. And also because if I was exceeding the buffer length it would not update the aws iot (and would throw an error).

BUT i tried to increase it anyways as you suggested and the problem persists. Any other suggestions would help a lot! Thanks!

[2019-09-06 08:01] shahpiyushv commented on #14
@sagar448 , RX buffer length indeed could be the problem as AWS IoT sends a lot of metadata in response to a Shadow Update. To check exact size, you can subscribe to `$aws/things/<ThingName>/#` MQTT Topic on AWS Console and check all data being exchanged. The huge response can be found on topic `$aws/things/<ThingName>/shadow/update/documents`. I increased CONFIG_AWS_IOT_MQTT_RX_BUF_LEN to 3072 an

[2019-09-06 18:59] sagar448 commented on #14
Hello @shahpiyushv

Thank you for your prompt responses. Now I have 14 jsonStructs and accordingly I decided to set the Buffer lengths first to 6000 and then to 8192. Still I get update time out. I subscribed to the above mqtt topics and my data is approximately 4kB.

Im still getting update time out after changing the buff length, do you know what else it could be?

[2019-09-06 19:09] sagar448 commented on #14
Hello @shahpiyushv,

Thank you so much for your help. I manage to fix the problem with your suggestion. I was changing the RX and TX buff lengths in the config.h file for aws but not from the menuconfig. I changed it in menuconfig and it worked.

For everyone else who faces this error, change the shadow RX buff length as well as the AWS Iot mqtt tx and rx buff lengths in menuconfig AND in the conf

[2019-09-06 19:09] #14 closed

[2019-09-19 13:39] copercini commented on #13
I'm also looking for this to use AWS OTA jobs

[2019-09-24 08:49] crippsJack commented on #13
Yes, any news when there will be an official port for v4 SDK to ESP-IDF as the current version is out of date compared to the ESP-IDF releases and not really up to production standards

[2019-10-01 12:40] erki1993 opened #15 "AWS_IOT_MQTT_TX_BUF_LEN limited to 65536 bytes"
Why is the KConfig variable AWS_IOT_MQTT_TX_BUF_LEN limited to max 65536 bytes?

We have a project that requires uploads of ~80000 bytes.

I tested by editing the esp-aws-iot component and changing the max value to 80000 and I could successfully publish my 76000 bytes of data. I am storing the aws iot client in spiram so there are no concerns with running out of RAM.

 MQTT spec defines max payloa

[2019-10-04 15:27] crippsJack commented on #13
Now that the v4 SDK is no longer in beta, do we expect to see a port for this in the near future?

[2019-10-04 15:44] shahpiyushv commented on #13
@crippsJack , I tried giving it a shot but realised that there are quite some changes in the SDK and so, porting could take some time. I will check once again next week. There are indeed some useful features in v4!

[2019-10-04 16:05] crippsJack commented on #13
I have also begun porting but have ran into issues linking the esp mbedtls library port into the new version of SDK, since the mbedtls default port included in the SDK does not seem to work with esp-idf. Current problem lies with setting up the mbedtls mutex types to work in esp mbedtls port, just can’t get it to link correctly. Will update more on Monday if anybody is interested.

Thanks,
Jack

[2019-10-04 16:10] shahpiyushv commented on #13
@crippsJack , which ESP IDF version are you using?

[2019-10-04 16:12] crippsJack commented on #13
@shahpiyushv release/v4.0

[2019-10-07 11:01] crippsJack commented on #13
@shahpiyushv More specifically, I get undefined reference errors for the mutex threading alt functions,
`mbedtls_threading_set_alt()` and `mbedtls_threading_free_alt()` at the linking stage - everything seems to compile ok.
I have `MBEDTLS_THREADING_C` (a prerequisite of the following) and  `MBEDTLS_THREADING_ALT` defined in the iot_config.h file of the SDK v4, though not sure if these definitions

[2019-10-07 13:43] crippsJack commented on #13
`mbedtls_threading_...` functions now appear to link correctly after defining `MBEDTLS_THREADING_C`
followed by `MBEDTLS_THREADING_ALT` in `esp_config.h` of mbedtls esp component.

[2019-10-09 11:22] WiktorBAbove commented on #13
@crippsJack  did you manage to get something working?

[2019-10-09 12:01] crippsJack commented on #13
@WiktorBAbove Everything now compiles, just working through runtime issues. An oversight was that the logging library in this version of the SDK is different to previous, and so will need proper porting so that the system can be debugged, information recorded etc. Will post updates in this issue

[2019-10-09 12:20] shahpiyushv commented on #13
@crippsJack , that is good to know!
If you can share the code, we can work on integrating it into this repo.

[2019-10-09 12:27] crippsJack commented on #13
@shahpiyushv I'm just finishing stuff off, sorting the logging library out then will share code - hopefully by the end of this week

[2019-10-14 12:56] crippsJack commented on #13
@shahpiyushv @mahavirj Ok, so compiling is fine but waiting on a semaphore always fails. Mutexes do seem to be able to be locked, as can be seen by the program log below.

This is the relevant bit of the stack trace for the crash:

[code]
Relevant Code:

`typedef SemaphoreHandle_t IotSemaphore_t`

[code]

[code]
If I set the wait time to zero the program doesn't crash here but the sem wait does st

[2019-10-16 08:58] shahpiyushv commented on #9
@gearsmotion789 , even I do not really understand why the issue occurs for 600 seconds and that too only on specific networks. If there is an issue with the network, which blocks the keep alive, it should have failed for any other interval as well.

[2019-10-16 09:02] shahpiyushv commented on #11
@InfiniteYuan1 , using AWS IoT with Alexa is not that straightforward. AWS IoT is just an MQTT broker. You need some additional logic on top of that to enable Alexa. There needs to be some user login mechanism, then some method to link an ESP32 with a given user and then an Alexa Smart Skill  to enable control via Alexa using the same user credentials (shared using OAUTH2), etc. Basically, it is n

[2019-10-16 09:04] #11 closed

[2019-10-17 06:36] shahpiyushv commented on #15
@erki1993 , changed it to 128K (131072 bytes) as that is that max allowed by AWS IoT as per https://docs.aws.amazon.com/iot/latest/developerguide/limits-iot.html.

[2019-10-17 12:05] WiktorBAbove commented on #13
Good job @crippsJack!
You think it would be possible for you to push the current work to a dev-branch?
So that other ppl can maybe continue your work?

[2019-10-17 12:08] crippsJack commented on #13
@WiktorBAbove Yes I will be able to, got some other things on at the moment, but will tidy up and push ASAP

[2019-10-18 20:07] jkent commented on #13
There is the official amazon port for FreeRTOS: https://aws.amazon.com/freertos/ -- I've checked it out and they're using static semaphores.  Its under the MIT license.

[2019-10-20 01:51] jkent commented on #13
I'm working on this here:  https://github.com/jkent/esp-aws-iot

I've not tried to use it yet, please report back if you try it!

[2019-11-06 13:52] shahpiyushv commented on #15
Closing this issue as it has been addressed.

[2019-11-06 13:52] #15 closed

[2019-12-06 09:40] Paullake85 opened #17 "ESP32 + Alexa echo project"
Hello,
I have to develop a smart product based on ESP32 able to receive vocal commands from the Alexa Echo. I found on google many example projects based on Arduino and open source libraries, but I cannot use those environments for a market product.
- Is the esp-aws-iot a good starting point to develop the communication between Alexa Echo and my product?
- Do I need to use the Amazon FreeRTOS?
- I

[2019-12-19 09:27] shahpiyushv commented on #17
@Paullake85 , if you intend to enable control via Alexa Smart Skills, it requires much more handling, in addition to AWS IoT, primarily
- Some User Management mechanism
- Some logic to associate users with devices
- APIs to authenticate user, discover devices and get/set the parameters from Alexa.
- Alexa Smart Skill

- esp-aws-iot just handles the device to cloud (MQTT broker) communication. Othe

[2019-12-24 04:01] akshayvernekar opened #18 "Subscribed payloads keep repeating when subscribed with QOS1 ."
Our usecase expects us to subscribe and publish with QOS of 1 , when the device subscribes with QOS 1 the payloads published to the subscribed topic keep repeating , it looks like the library is not sending the ACK message to the message published and the broker is trying to resend the messages until it gets Acknowledgment. This issue happens randomly the reproducibility rate is 1/5 times.

I trie

[2019-12-31 08:50] mahavirj opened #19 "Test Issue (CA-1)"
Test Issue

[2019-12-31 08:54] #19 closed

[2020-01-01 19:52] Horaira commented on #19
Hi Mahavir,
Just need some help regarding Integrating  Azure IoT SDK with our product which has FreeRTOS.
Can you please ping me on horairajilani.khan@in.bosch.com
It would be great help

[2020-01-01 23:39] projectgus opened #20 "Second test issue (CA-39)"
Please ignore.

[2020-01-01 23:45] #20 closed

[2020-01-02 06:07] mahavirj commented on #19
Just need some help regarding Integrating Azure IoT SDK with our product which has FreeRTOS.
Can you please ping me on horairajilani.khan@in.bosch.com
It would be great help

Have initiated an email thread for this. Thanks.

[2020-01-02 09:21] Horaira commented on #19
Thanks Mahavir !

[2020-02-28 16:21] deangenovski opened #21 "Eclipse IDF include syntax error"
When importing the project in eclipse, it compiles and runs fine. However all .h files in the aws-iot-sdk have
[code]

This breaks eclipse parser and everything glows red and shows as error. I don't seem to have any access in the eclipse project to set the compiler. Any suggestions

[2020-03-04 09:26] kolipakakondal commented on #21
Hi, Thanks for reporting the issue. Could you please provide more details to check further on this.

1. Are you using idf-eclipse-plugin for this? https://github.com/espressif/idf-eclipse-plugin
2. If you're using idf-eclipse-plugin, make sure you're at the latest.  https://github.com/espressif/idf-eclipse-plugin/releases/tag/v1.0.0-rc1 as "unresolved includes" issue got resolved recently.
3. Have

[2020-03-07 12:53] akshayvernekar opened #22 "esp-aws-iot crashes work on esp8266"
Hi,
I am working on a project which involves connecting esp8266 to AWS IOT, I am using the HEAD version of ESP8266_RTOS_SDK  and using esp-aws-IOT as an external component  . After flashing the firmware I get "Task watchdog got triggered." error followed by a crash . I tried disabling task watchdog but this causes some wifi related issues . Following is the crash log, kindly guide

[code]

Regards

[2020-03-11 11:31] shahpiyushv commented on #18
@akshayvernekar , we will check what exactly is happening, but for the time being, can you check if the "isDup" parameter of IoT_Publish_Message_Params tells you if the message was a duplicate? For QOS1, it is indeed possible to get the same message multiple times.

[2020-03-13 12:10] mohinishnmrinq commented on #18
I have been facing the same problem of repeated subscribe payload with QOS1. I tried publishing payload every 5 sec with incrementing seq no within payload and I have noticed that out of 100 msgs I received 50 duplicate msgs. I also ran the same test using latest stable aws sdk and I received 2 duplicates out of 250 msgs. Getting duplicates with such margin doesn't seem to be ok.

Is there any way

[2020-03-16 08:25] shahpiyushv commented on #18
@mohinishnmrinq , what are your observations with older aws sdk on raspberry pi? Depending on whether the behaviour is similar to esp-aws-iot or not, we can then check if we need to just update the aws sdk or check in our porting layer.

[2020-04-20 12:20] AQIBRIAZ opened #23 "AWS IOT core OTA"
Hi there,

Thank you for the Library. Can you provide example for the OTA with AWS IOT core?

Regards

[2020-04-21 09:05] shahpiyushv commented on #23
@AQIBRIAZ , if you are looking for OTA over MQTT, then we do not have any example for that. Normally, we prefer hosting the firmware image somewhere (say AWS S3) and then sending the URL to the device over MQTT. If that approach is fine, the relevant documentation and example can be found in ESP Jumpstart (https://docs.espressif.com/projects/esp-jumpstart/en/latest/firmwareupgrade.html)

[2020-04-23 07:53] AQIBRIAZ commented on #23
@shahpiyushv  Thanks for quick response. Can you guide me how to do the OTA securely with AWS S3 as you mentioned? I have done the OTA using AWS S3 but we need to make the OTA link public to do OTA.  Can you guide me the steps need to be done if we go with MQTT?

Thanks

[2020-04-23 08:54] shahpiyushv commented on #23
@AQIBRIAZ , there are two possible options

1. Use AWS IoT certificates to authorise the device to access other AWS services (https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html). This seems a bit complicated though, and I haven't tried this myself.
2. Keep your S3 buckets private, and send a pre-signed URL to the device over MQTT (https://docs.aws.amazon.com/AmazonS3

[2020-05-18 05:10] ahtashambaig opened #24 "AWS IoT sdk - d"

[2020-05-18 05:42] shahpiyushv commented on #24
@ahtashambaig , have you tried basic publish/subscribe example first to ensure that the MQTT communication itself (certificates, endpoint, client_id, policies, etc.) is fine?

[2020-05-18 05:46] ahtashambaig commented on #24
Yes I did.. it is working also my program includes checks for testing my device connected to client or not ... Device gets connected to Endpoint and configured properly on both sides ... But on updating shadow it always return Update Timeout ... Also to be mentioned i have update my RX length

[2020-05-19 05:53] ahtashambaig opened #25 "AWS IoT error NETWORK_SSL_READ_ERROR"
Hi i am using AWS IoT sdk as esp-idf, I am facing issue with error returning (-12). Which on searching out returned to be NETWORK_SSL_READ_ERROR. My program needs to be connected to up-to 12 MQTT topics other than device shadow. I have verified my policy on server side as well as configuration on my program... My device gets connected to AWS IoT console also few number of topics too, but it random

[2020-05-19 17:33] Schuck84 commented on #13
Hi,
Is this repo compatible with ESP-IDF v4.2 , as this version supports the ESP32-S2?
If not, it would be great to get it running :)
Could somebody give info?

Regards

[2020-05-19 18:09] shahpiyushv commented on #13
I just tried this on esp32-s2 with the esp-idf master branch. I had to make these changes to make it work.

[code]

[2020-05-20 07:10] Schuck84 commented on #13
Hi,
I managed to get a connection, but something runs into some issues as followed.
Could you have a look and maybe tell me how to fix it?

I (4037) subpub: Connecting to AWS...
I (7777) subpub: Subscribing...
I (8117) subpub: Stack remaining for task 'aws_iot_task' is 3644 bytes
E (9417) subpub: An error occurred in the main loop.

abort() was called at PC 0x4008585b on core 0
0x4008585b: aws_iot

[2020-05-24 16:04] AnhTuDo1998 commented on #22
Hi, looks like your program run into an infinite loop somewhere in your interrupt handler. You can check their documentation and maybe use the debugger?

https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/system/wdts.html

[2020-05-24 18:34] shahpiyushv commented on #22
@akshayvernekar , we recently found an issue which was causing an incorrect default value of task watchdog timer, leading to such crashes. It has been fixed here: https://github.com/espressif/ESP8266_RTOS_SDK/commit/f03e81b0927fd0eabfc996692c01e440aa251d63

Please check if it helps. Sorry for the late reply.

[2020-06-11 05:15] shrinivasragolu opened #26 "ERROR: mbedtls_ssl_handshake returned -0x50 (with AWS IOT SDK )"
Hi,
I recently started working on mbedtls for AWS IoT SDK based applications.

Issue: I am planning to run AWS IoT SDK sample applications on my memory constrained (6MB RAM) embedded hardware
Usage: AWS IOT SDK(3.0.1 release version) and mbedtls (2.16.5)
**Note: This filesystem is Read-Only file system**.

I have tried on Ubuntu 18.04 setup first to make things clear. It was not working with "Amaz

[2020-06-24 09:21] lxdemon opened #110 "aws_iot: failed! mbedtls_ssl_handshake returned -0x6800 (IDFGH-3542)"

[2020-07-11 02:08] nguyentranho opened #27 "Error(-12) connecting to ac6aacx09z5rv-ats.iot.us-east- 2.amazonaws.com:8883[0m"
I'm constantly running into this error without any clue. Could you give some hints?

[2020-07-13 13:37] shahpiyushv commented on #27
@nguyentranho , can you give some more details? Especially these:

- Have you created the thing and certificate and attached appropriate policy?
- Have you verified that everything works fine with other MQTT clients (say mosquitto) or direct [AWS IoT HTTP APIs](https://docs.aws.amazon.com/iot/latest/developerguide/http.html) from a host machine in the same network?
- Do you always see this error o

[2020-07-15 08:22] nguyentranho commented on #27
Hi, I have fixed it with following policy. I'm still confused about its syntax. I was trying to explicitly set the filter to "topic/esp32/sub" but it always replies with -12 error
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:*",
      "Resource": "arn:aws:iot:us-east-2:438468228341:*"
    }
  ]
}

[2020-07-18 18:52] shahpiyushv commented on #27
@nguyentranho , you can use wildcards in your resources, but if you want the policy to be more restrictive, for Publish and Receive, the Resource is in this format: `"arn:aws:iot:*:*:topic/<your-topic>"`. For subscribe, it is `"arn:aws:iot:*:*:topicfilter/<your-topic>"`, and for connect, it is `"arn:aws:iot:*:*:client/<client-id>"`

[2020-07-25 21:04] rhr407 opened #36 "aws-iot fleet provisioning (IDFGH-3718) (CA-95)"
The problem is that aws have launched fleet prov only 3 months ago due to which espressif have not yet announced a library component which supports fleet prov. The most recent component ( https://github.com/espressif/esp-aws-iot ) points to the stable version of aws-iot-device-sdk-embedded-C sdk (https://github.com/espressif/aws-iot-device-sdk-embedded-C/tree/61f25f34712b1513bf1cb94771620e9b2b0019

[2020-07-25 21:05] rhr407 opened #28 "AWS-IOT Fleet Provisioning"
The problem is that aws have launched fleet prov only 3 months ago due to which espressif have not yet announced a library component which supports fleet prov. The most recent component ( https://github.com/espressif/esp-aws-iot ) points to the stable version of aws-iot-device-sdk-embedded-C sdk (https://github.com/espressif/aws-iot-device-sdk-embedded-C/tree/61f25f34712b1513bf1cb94771620e9b2b0019

[2020-08-06 07:37] andresmanelli opened #29 "(Possible) Memory leak in connect/disconnect loop"
Hello,

I see that doing this kind of loop, the free heap decreases **if** an internet loss occurs in the ssl handshake step.
After a few disconnections, this ends up in a device that can never again connect to AWS.

This is the snippet:

[code]

And here is the output, I commented the disconnection events.

[code]

Is there any way of cleaning things up ? I trying cleaning the underlying ssl cont

[2020-08-06 21:37] Dwayne-Forsyth opened #30 "segfault on the 65535th call to iotc_publish() (CA-80)"
Able to recreate the crash every time when calling iotc_publish around the 65535 call.
v1.0.2
git sha1 32b0316899adc1bc2185729cb843dd021b814e7c

322     } else {
323       /* sanity checks */
324       assert(layer_data->current_q0_task != 0);
325       assert(layer_data->current_q0_task->logic.handle_type !=
326              IOTC_EVENT_HANDLE_UNSET);
327
328       layer_data->current_q0_task->log

[2020-08-07 19:25] Dwayne-Forsyth commented on #30
ops, wrong project... sorry for the error....

[2020-08-07 19:25] #30 closed

[2020-08-21 03:40] #16 closed

[2020-08-21 03:56] mahavirj commented on #16
Sorry I did not look into this further as we didn't reach to any conclusion if this issue was in AWS IoT SDK or ESP32 port. But since you had working settings, I believe we can close it. Please feel free to re-open if we need more investigations.

[2020-08-25 15:43] hariprasad58 opened #31 "how to stop triggering iot_subscribe_callback_handler when we call aws_iot_mqtt_publish function."
When we I call aws_iot_mqtt_publish function it is automatically triggering  iot_subscribe_callback_handler function, but I want to run  iot_subscribe_callback_handler function only sub task not for pub task, Please help me how to achieve it. Thanks in advance.

[2020-08-25 15:47] shahpiyushv commented on #31
@hariprasad58 , if your subscribe and publish topics are same, the callback will indeed get triggered as the broker will send back the message to the device. Can you confirm if they are same or different?

[2020-08-25 16:30] hariprasad58 commented on #31
Hi @shahpiyushv yes you are correct, I am using same Topic name, should I change that to different to fix this issue..??

[2020-08-25 16:37] shahpiyushv commented on #31
@hariprasad58 , yes that's the simplest possible solution.

[2020-09-09 08:13] sosaucily opened #33 "aws iot returns MQTT_RX_BUFFER_TOO_SHORT_ERROR when a bad key is created in shadow"
If I set a key name in the aws iot shadow and that key had not been previously registered with the `aws_iot_shadow_register_delta` command, the it returns a -32 MQTT_RX_BUFFER_TOO_SHORT_ERROR error. This was very misleading and took quite some time to debug, probably could be something more meaningful.

Tip, make sure to call `aws_iot_shadow_yield` after this and restart the `aws_iot_shadow_yield`

[2020-09-09 13:41] alexjperkins opened #34 "v4_beta"
I think the link in the README for the`v4_beta` branch has been broken. Would it be possible to get an update on this please, as my team would like to migrate to v4 asap.

[2020-09-10 15:04] Mluis31 opened #35 "Subscibed topic stops triggering iot_subscribe_callback_handler after new subscripition"
For project reasons i have to subscribe some topics inside the while loop int e aws_iot_task. After i subscribe to a second set of topics the first set does not trigger iot_subscribe_callback_handler anymore. I also start receiving the messages of the second set of topics in duplicates. What may be the reason?

[2020-09-10 16:03] Mluis31 commented on #35
Shure, here it is the aws_iot_task:

void aws_iot_task(void *param)
{
    char cPayload[100];

    AWS_IoT_Client client;

    char aux_client_id[20];
    sprintf(aux_client_id, "gateway-%s", get_address());
    CLIENT_ID = aux_client_id;

    IoT_Error_t rc = FAILURE;

    IoT_Client_Init_Params mqttInitParams = iotClientInitParamsDefault;
    IoT_Client_Connect_Params connectParams = iotClientCo

[2020-09-10 16:09] shahpiyushv commented on #35
@Mluis31 Can you also specify which are the topics that stop getting callbacks and which ones are getting twice?

[2020-09-10 16:15] Mluis31 commented on #35
First it subscribes to the topic sd/id/+ and sd/id/++ in here:
if (get_sub_d())
    {
        //mqtt_subscribe_to_device_topics(&client, get_sub_device());
        //SUBSCRIBE TO TOPICS:
        ESP_LOGI(TAGm, "Subscribing to device \"%s\" topics: ", get_sub_device());

        //IoT_Error_t rc = FAILURE;

        char aux[20];
        sprintf(aux, "sd/%s", get_sub_device());
        const char *T

[2020-09-10 17:39] shahpiyushv commented on #35
@Mluis31 , I am not 100% sure if this could be the issue, but the subscription topics' buffer generally need to stay allocated throughout the lifetime of the subscription. In your case, you are using variables defined inside if() blocks for the topics, which would not be valid outside the block. They may get overwritten by other variables outside the block. Can you try defining all those variables

[2020-09-12 18:34] hariprasad58 commented on #31
Hi @shahpiyushv Sorry for the late reply, thanks for the solution it is working fine, Just curious to know are there any other ways to fix this apart from this solution, Please let me know. Thanks in advance.

[2020-09-14 08:38] Mluis31 commented on #35
Ok i will try that and get back to you.

[2020-09-14 09:47] Mluis31 commented on #35
@shahpiyushv , Now i can get the the callback for every topic. But i still get the topic in duplicate.

[2020-09-14 12:47] shahpiyushv commented on #35
@Mluis31 duplicates for all the topic or just the latter as you mentioned earlier?

[2020-09-14 13:01] Mluis31 commented on #35
all topics @shahpiyushv .

[2020-09-16 13:12] Mluis31 commented on #35
Do you know what it might be? @shahpiyushv

[2020-09-17 08:58] rhr407 opened #37 "Using aws-iot shadow along with publish on topic causing tls error -0x4e (IDFGH-3977)"
## Environment

- Development Kit:      [ESP32-DevKitC]
- Kit version (for WroverKit/PicoKit/DevKitC): [v1|v2|v3|v4]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version:  v4.1
- Build System:         [idf.py]
- Compiler version: xtensa-esp32-elf-gcc (crosstool-NG esp-2020r2) 8.2.0
- Operating System:     [Linux]
- Using an IDE?: [No]
- Power Supply:         [USB]

## Problem Description

I am u

[2020-09-17 11:23] shahpiyushv commented on #36
@rhr407 , we would indeed wait for a stable release of aws-iot-device-sdk-embedded-C. As you can see [here](https://github.com/aws/aws-iot-device-sdk-embedded-C#branches), Amazon has already deprecated the v4_beta branch.

[2020-09-17 20:33] shahpiyushv commented on #35
@Mluis31 it is hard to tell. Will have to dig deeper into how the underlying aws-iot-device-sdk-embedded-C handles callbacks. Since your subscriptions are QOS0, we can be sure that the broker isn't sending the message twice.

[2020-09-28 09:26] romocitto88 commented on #29
Hi, I've a similar issue: if I try to connect and disconnect for n times from AWS Mqtt broker, sometimes the esp32 module reset when is executed "aws_iot_mqtt_disconnect(&hdl_mqtt_Client);" or loops into the function and never returns.

The error:

Decoding stack results:

The code:

[code]

[2020-09-28 20:54] ncohen17 commented on #37
Hello,
Any updates on fixing this issue ? Is there a solution to this issue ?

[2020-09-29 14:39] Mluis31 commented on #35
Does anyone have any tips for this problem?

[2020-09-29 16:15] shahpiyushv commented on #35
@Mluis31 , I will check again when I get time, but can you also ask this on  [aws-iot-device-sdk-embedded-C](https://github.com/aws/aws-iot-device-sdk-embedded-C) since the publish/subscribe logic is in the AWS code?

[2020-09-29 16:16] Mluis31 commented on #35
ok thank you

[2020-09-30 14:27] romocitto88 opened #38 "Aws disconnection crash or loops"
Hi, I've a similar issue: if I try to connect and disconnect for n times from AWS Mqtt broker, sometimes the esp32 module reset when is executed "aws_iot_mqtt_disconnect(&hdl_mqtt_Client);" or loops into the function and never returns.

The error:

Decoding stack results:

The code:

[code]

_Originally posted by @romocitto88 in https://github.com/espressif/esp-aws-iot/issues/29#issuecomment-69989

[2020-09-30 15:02] shahpiyushv commented on #38
@romocitto88 , we will check this, but calling `vTaskDelete()` directly isn't really recommended, especially when the task being deleted could be in the middle of something. A better approach would be to signal the task and then let it finish cleanly and then call `vTaskDelete(NULL);`

[2020-09-30 20:22] ajyta commented on #37
Same problem here on ESP32CAM Arduino IDE :-(

[2020-10-02 06:26] romocitto88 commented on #38
Hi @shahpiyushv thank you for the suggestion. I will try to change it and do some tests.
After that I will write a feedback.

[2020-10-03 22:33] Gabriel-Gardin opened #39 "Shadow update Timed out, but shadow was updated correctly. (CA-98)"
I'm starting to use shadows and I'm doing so based on the examples.

I'm able to use the example and it's working correctly, but every time I update the shadow I always get a time out (SHADOW_ACK_TIMEOUT). I already tested changing the the timeout_seconds parameter with several values but it did not help.

When I google for this issue I saw that some people solved it by changing the MQTT_RX_BUFFER

[2020-10-04 18:05] Gabriel-Gardin commented on #39
I've get it. I was pausing the shadow task with  vTaskDelay(); longer than the timeout_seconds parameter, causing the SHADOW_ACK_TIMEOUT.

[2020-10-04 18:05] #39 closed

[2020-10-15 01:16] #110 closed

[2020-10-16 19:56] carlosdomenje commented on #29
I have the same issue. In my case, device connect to wifi network to download data to aws. After n connections, never can connect to aws again.
I put  ESP_LOGW(TAG, "[AWS 9]- 1 Free memory: %d bytes", esp_get_minimum_free_heap_size());  in my code after  rc = aws_iot_mqtt_connect(&client, &connectParams);

when i try to connect many times, heap memory is decreasing.

[2020-10-21 04:13] chaabanemalki opened #40 "aws iot sdk v4.0 integration in esp-idf v3.3 and esp-idf v4.1 (IDFGH-4072)"
Hello,

AWS released few days ago the aws iot 4.0 and there were a branch with aws 4.0 beta in the esp-idf now it is removed.

Can you please share your timeline about the integration of aws IoT 4.0 into esp-idf 4.1 and v3.3

Thank you,
Chaabane

[2020-11-20 21:40] S31416M commented on #13
Hi, any update on V4 version availability? The below link is a dead one.

 https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/v4_beta

[2020-12-03 09:24] HaydnLiao opened #41 "When to support aws custom authentication？"
[Connecting to AWS IoT Core by using custom authentication](https://docs.aws.amazon.com/iot/latest/developerguide/custom-auth.html)
[Support MQTT username/password authentication](https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/641)
I want to test this feature using ESP32.

[2020-12-14 10:55] HaydnLiao commented on #41
@brucejcooper @projectgus @kedars @mahavirj

[2020-12-18 13:48] shahpiyushv commented on #41
@HaydnLiao , the [pointer](https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/641) you have shared applies to the revamped aws-iot-device-sdk-embedded-C. We haven't yet started porting work for that, and so cannot give an exact timeline right now. However, since the revamped SDK has now been stable for quite some time, we will prioritise the porting activity. I will provide an update here

[2020-12-22 14:18] isaurabhpawar opened #42 "E (4760) aws_iot: failed! mbedtls_net_connect returned -0x52 (CA-109)"
ESP32 with AWS_IOT is running but giving me this error

"E (4760) aws_iot: failed! mbedtls_net_connect returned -0x52"

followed all the step

[2020-12-22 14:30] shahpiyushv commented on #42
@isaurabhpawar , can you double check that the AWS IOT MQTT host and the port are configured correctly and also reachable from your network?

[2020-12-23 02:50] tenpa1105 opened #43 "Timeout error occured when waiting large size packet"
I think that `timeout_ms` of `aws_iot_mqtt_yield` should be specified short time because task called this function is blocked long time.
But, if timeout_ms is short, timeout error occur when waiting large size packet. (ex. OTA)

I think  `iot_tls_read` function should be improved as the below.
[code]
IOT_SSL_READ_RETRY_TIMEOUT_MS is user configuration parameter.
[code]

[2020-12-23 16:52] isaurabhpawar commented on #42
Thankyou! It worked
Tried changing port !

[2020-12-23 16:52] #42 closed

[2021-01-08 10:03] anubhav1 opened #44 "Shadow Update timeout error if delay is increased in while loop (CA-112)"
I was testing the` thing_shadow_example.c` and found out that increasing delay to 4 sec. `vTaskDelay(4000 / portTICK_RATE_MS); `in while loop causing a shadow update timeout error. Is it an expected behavior?
What is the explanation of this behavior?

[2021-01-08 10:24] shahpiyushv commented on #44
The shadow update call in the example is this:

[code]

Here, it means that the shadow update response is expected within 4 seconds (second last argument). If you have a delay of 4 seconds, you are bound to miss this timing requirement. You may try setting the timeout in `aws_iot_shadow_update()` to 6 seconds.

[2021-01-08 10:34] #44 closed

[2021-01-08 10:36] anubhav1 opened #45 "Registering delta after aws_iot_shadow_update call with persistent flag set to false, times-out"
This piece of code is failing with time out error:

[code]

But this piece of code runs without problem:

[code]
Is it a bug?

[2021-01-08 12:48] andreossido commented on #40
Any updates?

[2021-01-08 17:30] AshUK commented on #40
@shahpiyushv any chance we can update/estimate on the port for 202012.x ?

It looks to be using the FreeRTOS coreMQTT client and some other AWS FreeRTOS components internally

@lhespress already has a port of FreeRTOS Core MQTT as part of https://github.com/espressif/esp-idf/issues/6112#

[2021-02-02 19:49] petergzmo commented on #40
@shahpiyushv is there any update on this effort?  We would like to make use of the nicely integrated OTA functions of AWS while avoiding Amazon FreeRTOS, which is not feature complete and is difficult to develop with.

[2021-02-17 05:25] wanglemao opened #46 "采用以太网可以连接到aws么？"
如题，我想咨询下，通过以太网Ethernet，可以连接到aws core iot么？

[2021-03-11 01:49] rmshub opened #47 "aws-iot-device-sdk-embedded-C 2021xx.xx support in esp idf v4.2 (CA-126)"
Hi Team,

I'm looking for IOT jobs for OTA updates. This feature are introduced in newer aws-iot-device-sdk-embedded-C.
Will be there support for latest aws-iot-device-sdk-embedded-C as esp-idf component

[2021-03-13 02:18] rmshub commented on #47
Hi Team,

Is info on this request?

[2021-03-27 02:18] samuelbles07 commented on #47
I guess this project is discontinued?

[2021-03-31 15:50] j-izaguirre commented on #23
Hi @shahpiyushv i use your suggestion of use OTA using AWS S3 and keep bucket private and send pre-signed URL to the device over MQTT, but i receive a error MQTT_RX_BUFFER_TOO_SHORT_ERROR when the subscribe to the message with the pre-signed URL. the message send over MQTT is something like that:

{
  "url": "https://yyyyyyyyy.s3.us-east-2.amazonaws.com/xxxxxxxxxxxx.bin?X-Amz-Algorithm=AWS4-HMAC-S

[2021-03-31 16:05] j-izaguirre commented on #23
Thanks, I solve the problem change the value of MQTT RX Buffer Length to 1024 in menuconfig -> Component Config -> Amazon Web Services IoT Platform.

[2021-04-08 08:24] shahpiyushv commented on #47
We are working on adding the required pieces one by one, starting with plain publish/subscribe followed by thing-shadow and later OTA, Jobs, etc. You may expect updates to this repo starting next week.

[2021-04-08 11:40] asurti9 opened #48 "device certificate verification fail (CA-130)"
Hello all,

I am facing issue while connecting my esp32s2 device with the AWS cloud. I have followed below steps:
1. I have created my own root CA and registered in the AWS using below steps:
https://docs.aws.amazon.com/iot/latest/developerguide/register-CA-cert.html
2. Created device certificate using the above generated root CA and registered it with my IoT thing. Followed below link for the sam

[2021-04-08 12:00] shahpiyushv commented on #48
@asurti9 , The rootCA to be placed in the certs/ folder should not be the one created by you, but the AWS ROOT CA, which you can find [here](https://docs.aws.amazon.com/iot/latest/developerguide/server-authentication.html#server-authentication-certs). Use [AmazonRootCA1.pem](https://www.amazontrust.com/repository/AmazonRootCA1.pem).

Moreover, you would also have to [attach a policy](https://docs.

[2021-04-08 13:18] asurti9 commented on #48
Hey @shahpiyushv

Thanks for the reply. With AWS ROOT CA and AWS device certificate (one-click certificate) the thing shadow example is working fine.
But we need to use our own generated device certificate signed by our generated ROOT CA which is already registered in AWS. This is the use case which we want to implement. But during this, it fails to verify the certificate.
So can you please help m

[2021-04-08 13:42] shahpiyushv commented on #48
@asurti9 , the process you have followed earlier is fine. However, the usage of Root CA was wrong. The Root CA you created for signing the certificates is actually used by AWS IoT to authenticate the clients. The server certificate to be copied in the certs/ folder is something used by clients to authenticate the server (This is the X.509 mutual authentication).

Irrespective of what you use to si

[2021-04-09 01:39] rmshub commented on #47
Thanks for update

[2021-04-09 12:12] asurti9 commented on #48
Hello @shahpiyushv ;
We tried placing the cert as suggested by you and seems that the tls handshaking is now completed. However, the device is getting stuck when it is trying to connect to the endpoint.
As per the logs, it is visible that the tls handshaking is completed as the client state is 15. After that, it is trying to connect to the shadow and giving the error "-12" as seen in the below log

[2021-04-09 13:44] shahpiyushv commented on #48
@asurti9 , have you attached the appropriate AWS IoT policy? Can you share it here if possible? A simple, but extremely insecure policy is as below

[code]

Note that you may use this just to verify that this is not an AWS IoT Policy issue. However, the actual policy should be much more stricter as per the docs [here](https://docs.aws.amazon.com/iot/latest/developerguide/example-iot-policies.html)

[2021-04-10 17:19] j-izaguirre opened #49 "Failed in parse JSON in shadow (CA-131)"
Hi,

I am trying to receive a shadow with the following in aws:

`{
  "desired": {
    "action": "on",
    "config": {
      "pages": [
        {
          "buttons": [
            {
              "functionality": 0,
              "color": "gray",
              "brightness": 7
            },
            {
              "functionality": 0,
              "color": "red",
              "brightness": 7

[2021-04-12 02:27] j-izaguirre commented on #49
The problem was the Maximum Expected JSON tokens value, in Thing Shadow config, Increase this value solve the problem. Thanks anyway.

[2021-04-12 02:27] #49 closed

[2021-04-12 07:40] asurti9 opened #50 "Just In Time registration on AWS"
Hello,

We have a requirement like below:
We will be having multiple devices which needs to be connected to the AWS IoT cloud. Each one of them has a unique device ID. We need to register all the devices using Just In Time registration, such that a unique thing name is created when the robot is connected to the cloud first time. The thingname can be the device ID which is unique.
Here we want to i

[2021-04-12 07:41] asurti9 commented on #48
Thanks @shahpiyushv !
That helped, closing the issue now!

[2021-04-12 07:41] #48 closed

[2021-04-14 14:50] j-izaguirre opened #51 "Add a field of type MQTT_Will_Options in ShadowConnectParameters_t struct to store LWT values of the connection (CA-133)"
I suggest to adding a field in struct **ShadowConnectParameters_t**  of type **IoT_MQTT_Will_Options** to allow defining in the shadow connection the LWT options for MQTT connection.

[2021-04-14 14:59] j-izaguirre commented on #51
sorry is not in this repo.

[2021-04-14 14:59] #51 closed

[2021-05-03 07:33] MrutyunjayPatel opened #52 "Request to update to v3.15 (CA-134)"
hi ,
we are in the process of updating our projects for IDF 3.2.X to IDF 4.2.0

Could we have the esp-aws-iot repo  update to latest compatible version from aws release repo.

I assume that esp-aws-iot is  currently is based on.
https://github.com/espressif/aws-iot-device-sdk-embedded-C/tree/61f25f34712b1513bf1cb94771620e9b2b001970.
which is derived from V3.0.2 from the original aws sdk
https://gi

[2021-05-17 23:30] austingrismer commented on #52
+1, @MrutyunjayPatel have you been able to get the library working at all in IDFv4.2.0? For me initialization/connection/enable-autoreconnect work fine but subscribing to a topic returns error code -13  (network disconnect) even though I am able to ping the device.

[2021-05-24 14:58] Devyami-Apcon opened #53 "AWS IoT sdk latest version(202103) as an esp-idf component"
Hey team,

I am trying to integrate the latest version of AWS IoT SDK embedded C(v - 202103) to my project to leverage OTA feature. I don't prefer using Amazon Freertos as it limits my choice of ESP-IDF. It would be great if I could somehow include aws latest libraries like an esp-idf component.

However in their latest libraries their demos are only compatible with posix integration. I am bit ove

[2021-05-24 19:19] shahpiyushv commented on #53
@Devyami-Apcon The new SDK porting is work in progress and it is taking time because as you rightly said, it is somewhat overwhelming :). We may release a beta version by end of this week or next week, but the OTA feature would be available by mid June. The first release will just have publish/subscribe, thing-shadow and jobs.

[2021-05-25 14:02] Devyami-Apcon commented on #53
Really appreciate your prompt reply @shahpiyushv .

Thanks for the update, we are eagerly waiting for this release :)

[2021-05-30 13:07] rickAllDev opened #54 "Corrupt Heap issue after cycling mqtt connection"
I am using the aws_iot sdk in esp-idf. Currently working on stabilizing the mqtt connection and am cycling the mqtt connection.

We always connect successfully at initial connection after reboot. The corrupt heap issue occurs around 2-5 cycles of mqtt begin/end. Creating the mqtt connection is pretty standard. Ending the connection looks like this:
  rc = aws_iot_mqtt_disconnect(&aws_client_m);

[2021-06-07 13:01] Devyami-Apcon commented on #53
Any update on the beta release @shahpiyushv ?

[2021-06-11 10:40] ESP3235 opened #55 "Create automatically things and keys for devices (CA-143)"
Hi to all.
I want to create 1000 iot things in AWS and create private certificates and keys for each of them.
Is there a way to create automatically things and own keys with development tools?

I am created keys and certifications for sample iot thing and tested it. But for 1000 devices this method is time consuming.

Thanks a lot.

[2021-06-18 10:31] ESP3235 opened #56 "How can I send data to Named shadow , not classic shadow (CA-144)"
Hi .
I have two shadows , classic and shadow1.
how can I connect to shadow1?
this example is connected to shadow classic only.

Thanks.

[2021-06-22 17:23] shahpiyushv commented on #52
@MrutyunjayPatel esp-aws-iot has now been updated to v3.1.5 of aws iot

[2021-06-22 17:25] shahpiyushv commented on #55
@ESP3235 , have you checked the concept of [Just in Time Provisioning](https://aws.amazon.com/blogs/iot/setting-up-just-in-time-provisioning-with-aws-iot-core/)? That may suit your purpose since all the keys and certificates can be generated on the host machine and you need to register just the CA certificate.

[2021-06-22 17:27] shahpiyushv commented on #56
@ESP3235 Support for Named shadows will be available soon, as we would make the new AWS IoT support available in a few days.

[2021-06-22 17:29] MrutyunjayPatel commented on #52
Thanks @shahpiyushv

[2021-06-22 17:29] #52 closed

[2021-06-23 09:21] vamsi1105 opened #57 "CLIENT_INITIATED_DISCONNECT while tranmitting 12KB data through MQTT"
Unable to receive the OTA data (12KB) through MQTT,

aws_iot_mqtt_yield(&client,100) is returning -1. After changing the yield time from 100ms to 2000ms aws_iot_mqtt_yield(&client,2000) , It is receiving the data without any issues.

AWS logs are saying MQTT Disconnect : CLIENT_INITIATED_DISCONNECT
Check the log below for reference.

{
"timestamp": "2021-06-16 17:24:54.955",
"logLevel": "INFO",
"t

[2021-06-24 08:44] ESP3235 opened #58 "How can I read aws device shadow attributes?"
Hi.
I want to read aws shadow attributes and get desired states.
{
  "desired": {
    "A": "TEST1",
    "B": "TEST2",
    "C": 1234,
    "D": 5678
  },
  "reported": {
.
.
.
}
I want to read value of A , B, C and D.

How can I read these?

#define	AWS_SHADOW_GET										"$aws/things/thingname/shadow/get"
aws_iot_mqtt_publish(&client, AWS_SHADOW_GET, strlen(AWS_SHADOW_GET), &paramsQOS1);

In aws d

[2021-06-24 12:28] #55 closed

[2021-06-24 12:29] #56 closed

[2021-06-24 15:35] srdantas opened #59 "Publish on AWS Iot topic always return NETWORK_DISCONNECTED_ERROR when aws connection is create in other thread (CA-147)"
Hello! I have a small problem with mqtt event publish!

The basic flux is: read sensor data and publish it on topic with 1 minute of interval.

The connection with aws is create after received a event of get ip address (wifi is connected with success) and after connected to aws, create a task that read sensor data and publish it. This app has a HTTP server that I configure a endpoint that return M

[2021-07-05 11:28] vamsi1105 commented on #53
Hi @shahpiyushv is there any update on adding aws-iot as an esp-idf component ? We are waiting for the update.

[2021-07-15 04:30] pmumby commented on #53
Hi, just to chime in, we are developing the next generation of our existing commercial product on ESP32 (coming from our previous generation hardware device which was PIC32 based) which relies on OTA functionality, our deadline for global product availability (for roll-out in large scale) is October of this year...

We've finished porting all of our firmware code over to ESP IDF 4.2 and everything

[2021-07-15 18:41] shahpiyushv commented on #53
To answer the original issue, the basic mqtt and Thing Shadow support is now available in beta here:

https://github.com/espressif/esp-aws-iot/tree/release/beta

The OTA support is still work in progress, but the current status can be checked here:

https://github.com/espressif/esp-aws-iot/tree/ota-beta/202103.00. This is not clean and finalised and so isn't yet ready for use. It can be considered

[2021-07-20 13:38] ujur007 commented on #27
I had the similar issue, I solved by creating a policy and properly editing the resources in connect, publish and subscribe.

[2021-07-23 12:59] shahpiyushv commented on #13
Closing this issue since v4_beta would not be supported because Amazon has deprecated it. Support for their newer releases is currently available on the [release/beta](https://github.com/espressif/esp-aws-iot/tree/release/beta) branch.

[2021-07-23 12:59] #13 closed

[2021-07-28 07:09] devUsama opened #60 "release/beta thing_shadow example gives compilation error: undefined reference to `nanosleep'."
When I tried to build the beta release thing_shadow example it gives the following error.

esp-aws-iot/aws-iot-device-sdk-embedded-C/platform/posix/clock_posix.c:76: undefined reference to `nanosleep'

Apparently nanosleep reference should be in **time.h** header, but there is no reference available for this function in **time.h** file.

[2021-07-31 19:40] devUsama opened #61 "Shadow/MQTT Disconnect Callback Implementation for beta release [57b18d7] ?"
I’m running a shadow application that is based on the beta release [57b18d7]. In this implementation the MQTT connection is established by calling **EstablishMqttSession** function  and its parameter  is a user event callback of type **MQTTEventCallback_t** that notify the user about incoming packet events but not MQTT events like disconnect.
So to be exact how to get notify about MQTT connection

[2021-08-04 10:18] Prabhuelectro commented on #47
@shahpiyushv no updates, now it is august.

[2021-08-04 13:32] shahpiyushv commented on #47
@Prabhuelectro @rmshub , sorry we did not update here, but as you can see in my comment [here](https://github.com/espressif/esp-aws-iot/issues/53#issuecomment-880927892), beta releases for the same are already available.  You may expect further updates on this in a day or two.

[2021-08-09 17:35] C47D opened #62 "Adding `esp-aws-iot` as submodule"
Hi,

We're trying to add this repository (and all it's submodules) to our proyect, we're interested in the OTA MQTT example code, so the `ota-beta/202103.00` is being tracked, the `master` branch of `aws-iot-device-sdk-embedded-C` is also being tracked.

After setting those branches up, I've applied the patch available in `components\aws\examples\ota\ota_mqtt\patches` like so:

[code]

And copied

[2021-08-10 22:16] C47D commented on #62
**UPDATE**

I can now compile the project, using some tricks, please let me know if you find something suspicious:

In `components/aws/port/crypto/iot_crypto.c` I have the following diff, `configPRINTF` should be defined in `FreeRTOSConfig.h` and it is not:

[code]

Then copied the `Kconfig.projbuild` file from `esp-aws-iot/examples/ota/ota_mqtt/main` into my project `main` directory.

Last thing

[2021-08-15 07:02] FalconBFR opened #63 "CMake Error when compiling Example"
Hello all! I followed the instructions of the readme but I am experiencing an error with CMake. I am a beginner but I believe it is something to do with the CMake configuration. Any suggestions are appreciated.

Full Error Log when building: (Does not contain sensitive info like keys)
[code]

[2021-08-15 09:40] FalconBFR commented on #63
Update: I tried this on both Mac and Linux and the result is the same:
Here is the full output on Linux when building inside VSCode
[code]

[2021-08-15 10:11] dhavalgujar commented on #63
Hi @FalconBFR
I feel this issue might be specific to VS Code.
We will try building it inside VS Code, and reply here with what we find.

Meanwhile, can you try compiling it directly from the command line?
i.e.
By running `idf.py build` in the respective example's directory?

For example:
For `thing_shadow` example, try running the build command in `esp-aws-iot/examples/thing_shadow/`
For MQTT `tls

[2021-08-15 10:14] FalconBFR commented on #63
@dhavalgujar Thanks for the quick reply! I tried building it with idf.py in linux and the issue still persists. Would a call when you are free or some screen recording/screenshots be helpful? Thanks so much for responding so promptly on a Sunday!

[2021-08-15 10:16] FalconBFR commented on #63
Would some screenshots/recordings / a call when you are free help? Thanks so much!

[2021-08-15 10:24] FalconBFR commented on #63
It seems like this issue is occurring with a new project that I just started too! it is not affecting old projects.

[2021-08-15 10:28] dhavalgujar commented on #63
You're welcome!
Regarding the build command that is failing, you seem to be on the master branch.
Are you wanting to use that branch, or `release/beta`?
Can you help us with the commit ID / version of IDF that you are using?
Also, is there a specific example that you are trying to build?

Sure, if we can't figure it out this way, let's do that.

In that case, I think you need to check that you are

[2021-08-15 10:31] FalconBFR commented on #63
Thanks for your help.
Regarding the idf version, I am using `ESP-IDF v4.3-dirty`
Regarding the branch, which do you recommend that I use? Thanks!

[2021-08-15 10:32] FalconBFR commented on #63
With the Linux, it is actually a fresh install! (No esp-idf was ever installed on that computer until today)

[2021-08-15 11:11] dhavalgujar commented on #63
I see, this seems okay.
Although, if there are changes that you have made to IDF which are not needed, you can reset them.

The master branch is stable and tested, but works with an older version of AWS IoT.
`release/beta` uses the latest version (202103.00) of AWS IoT but the beta branch might undergo few changes in coming weeks and months, but all the examples are functional.

Oh!
Have you follo

[2021-08-15 14:58] FalconBFR commented on #63
@dhavalgujar Thanks for your help. I will try the beta branch first and I will get back to you on whether it works or not! Thanks so much!

Regarding your questions:
I followed all the steps from 'here' during installation
I am able to compile other sample projects / my existing projects.
I also experienced this 'improperly configured' error in another project (smartconfig) but I was able to resol

[2021-08-15 14:58] FalconBFR commented on #63
@dhavalgujar Thanks for your help. I will try the beta branch first and I will get back to you on whether it works or not! Thanks so much!

Regarding your questions:
I followed all the steps from 'here' during installation
I am able to compile other sample projects / my existing projects.
I also experienced this 'improperly configured' error in another project (smartconfig) but I was able to resol

[2021-08-18 02:55] C47D commented on #62
**UPDATE**

After several tries we went and tracked the `release/beta` branch of this repo, we noticed the missing `CMakeLists.txt` file in the root directory so we created one.

[code]

We can build the project using the following command `idf.py --no-ccache build`, without the `--no-ccache` flag we can't because the ota cbor source files are not being found, I'm still investigating why.

My ques

[2021-08-27 10:48] moookpn opened #64 "ldgen.py: error: when use "idf.py build" (CA-155)"
WARNING: Python 3 versions older than 3.6 are not supported.
Executing action: all (aliases: build)
Running ninja in directory /home/gws/esp-aws-iot/esp-aws-iot/examples/thing_shadow/build
Executing "ninja all"...
[4/1032] Generating ../../partition_table/partition-table.bin
Partition table binary generated. Contents:
*******************************************************************************

[2021-09-03 11:04] ssravindhar opened #65 "ESP-IDF OTA Library link issue."
Hi friends #353- in this ticket i am asking for documents .Based on this document I started implementing AWS OTA-library components to my esp-idf library. Using following steps 1.First i clone master directry using https://github.com/espressif/esp-aws-iot after that i clone relese/beta branch using git checkout release/beta git submodule update --init --recursive .Now i downloaded component but in

[2021-09-03 11:05] ssravindhar commented on #65
![cmake issue](https://user-images.githubusercontent.com/13998476/131995723-caad459d-52a2-4ef8-b24f-1331941ed867.jpg)
![cmd error](https://user-images.githubusercontent.com/13998476/131995735-1afd6a76-72cc-4e4e-ab85-3db093547d54.jpg)

[2021-09-03 11:50] ssravindhar commented on #62
Hi @C47D bro,

I also try to implement this esp-aws-iot + release/beta  branch to my project.I am also facing lot of issue .

So please can you give step by step procedure for this library  implementation .Where we need to keep the esp-aws-iot component comp 1.esp-idf folder or Project/Component .So can you give steps how you are able to implement and build it is very helpful for me bro.

Thanks &

[2021-09-08 02:26] azilberbaum commented on #9
Does anyone have any updates on this issue?

[2021-09-08 03:55] nzzn opened #66 "wifi disconnect mqtt reconnect mbedtls error (CA-158)"
Hi!
I tried the example code(https://github.com/espressif/esp-aws-iot/blob/master/examples/subscribe_publish/main/subscribe_publish_sample.c). It wored!  but when I turn off the wifi it reboots with "An error occurred in the main loop".

I'd like to make it goes
1. when wifi's disconnected, don't reboot. keep trying until recoonect.
2. after wifi's reconnected, then connect to mqtt.

Can anyone pr

[2021-09-16 14:28] SolidStateLEDLighting opened #67 "tokenTable[ ] corruption after invoking a Shadow Delta from AWS (CA-159)"
I have everything working in the Shadow except for receiving deltas.   The delta string is correctly received but I have data corruption near the end of the process inside

aws_iot_shadow_records.c -- in the routine registerJsonTokenOnDelta(jsonStruct_t *pStruct)

My buffers are large.  Token count was increased.  I have lots of task stack memory allocated.   Task is pinned to one processor.   I c

[2021-09-16 14:53] SolidStateLEDLighting commented on #67
This project is C++ ESP-IDF.

[2021-09-20 04:55] ESP3235 opened #68 "MQTT RX Buffer size if larger than 4000 , ESP crashed."
Hi.
My chip is ESP32-S2 and in sdkconfig file if I change AWS_IOT_MQTT_RX_BUF_LEN to for example 5000 , the ESP has been crashed.
My received message is long and buffers is overflow many times.

[2021-09-20 05:21] shahpiyushv commented on #68
@ESP3235 , can you share your crash logs? Is this simple publish/subscribe or thing/shadow?

[2021-09-29 15:20] SolidStateLEDLighting commented on #67
I fixed the problem...  but, no one is here that gives a damn, so why would I want to contribute???

[2021-09-29 15:20] #67 closed

[2021-09-30 12:03] rubengarridocecotec opened #69 "Missing CMakeLists.txt file on release/beta branch."
Hi!

I'm trying to add esp-aws-iot as a component on esp-idf sdk but I'm getting a CMake configure error because esp-idf tool can not compile esp-aws-iot component since CMakeLists.txt file is missing.

I only get this issue on release/beta branch, master branch contains CMakeList.txt file and I can compile the project without any issue. This is the error log I got:

`esp-idf/components/esp-aws-io

[2021-10-09 09:04] amir-mhdi opened #70 "AWS publish error code":413,"message":"Json document too large. max allowed: 8192 (CA-162)"
Hi to all.
I have a problem with aws_iot_mqtt_publish function.
when I send json document with size over than 8192 , rejected by aws and this message show to me :

$aws/things/xxxxxxxx/shadow/update/rejected{"code":413,"message":"Json document too large.  Size is 8582, max allowed: 8192","clientToken":" ....

Error code 413 is :
413 (Payload Too Large) 	      The payload exceeds the maximum size a

[2021-10-20 08:39] jitendraBLE opened #71 "Not able to build subscribe_publish example for ESP32C3 target"
Hi All

I have ESP32C3 chip and want to build subscribe_publish example project for ESP32C3 target.
When I set target esp32c3 using "idf.py set-target esp32c3" command and build the project I got following error:

riscv32-esp-elf-gcc: error: unrecognized command line option '-mlongcalls'

I read the espressif document which says esp-aws-iot sdk project is available for ESP32C3 target. Following li

[2021-10-20 14:38] jitendraBLE commented on #71
Thanks Piyush for your quick response.

Does subscribe_publish example in esp-aws-iot repository works for ESP32C3 target?

[2021-10-24 18:41] SolidStateLEDLighting opened #72 "Anyone having problems with Streams? (CA-164)"
I'm successful in getting responses with the Shadow and Job topics.

I'm can't seem to get my Stream requests to receive any responses.   description and get won't return a response.  (I'm working on OTA)

I tested the topics and payloads in the AWS MQTT testing area and it work there (so my thing policy is ok)....

The messageHandlers array did register the callback entry.   I could trace that --

[2021-11-03 02:30] twlawrenceko commented on #17
Hello @shahpiyushv ,
Sorry for commenting on an old thread, but I have questions regarding to using this example to map with smart home skills with Alexa.

Currently, Lambda function is set and Alexa Smart Home Skills APIs are done. The part that is unclear to me is how to enable discovery protocol on ESP itself. The discovery JSON is well defined on Lambda but the link between ESP and Alexa are m

[2021-11-03 05:19] shahpiyushv commented on #17
@twlawrenceko , Alexa Smart Home Skills discovery sends a query to the vendor cloud and this cloud service creates and passes the appropriate JSON payload back to Alexa. The device itself is not directly involved anywhere in the communication.

Our [ESP RainMaker](https://rainmaker.espressif.com/) solution does something similar. The ESP nodes send data to cloud as per the format [here](https://ra

[2021-11-06 10:34] SolidStateLEDLighting opened #73 "Beta ?? Can we get the CMakeList and KConfig files?"
On Aug 27, your marketing department made a claim that all the IOT libraries were offered up for consumption.
https://www.espressif.com/en/news/LTSrelease?position=10&list=7PgGbNyNzkrX9xaSaTH_SK6ERYZtvTm9lBnXkNL03p0

The complete collection of libraries are in the beta release.

Don't we need to CMakeList and KConfig files to put that beta in use?

You're really not promoting the beta.    Why?
git

[2021-11-06 23:19] SolidStateLEDLighting commented on #69
rubengarridocecotec -- If you find a way forward on this -- can you reach out to me with a the answer?

[2021-11-06 23:35] SolidStateLEDLighting commented on #62
C47D, thank you very much for your efforts here.   I think a lot of us are looking for Espressif to get this new version of the software up and running.

[2021-11-07 01:40] SolidStateLEDLighting commented on #73
We are a commercial shop.  We purchased about 8k ESP units this past year.   Right now we use another 3rd party tool for software (which we intend to discontinue).

We will offer you feedback to assisting in verifying Shadow, MQTT, Https, Fleet Provisioning, and Jobs/OTA operations.

[2021-11-07 17:23] felixeriksson commented on #73
I would also be very happy to have this, especially the OTA functionality. I've got a product built on esp-idf and pub/sub from this library, which is approaching release, and it needs to have OTA working. I'd be very happy to not have to invent this wheel again, especially if the OTA functionality in the beta is close to production ready.

[2021-11-08 10:41] ESP3235 commented on #58
how can I change the  json buffer size in read desired values?

[2021-11-08 14:52] SolidStateLEDLighting commented on #73
I think the answers that we are all looking for are in the example builds -- we just expect too much of a Chinese company when it comes to support.

If you follow this press release page at the top of this post --  there is a set of instructions in there to build a thing_shadow project.  Follow those instructions.   That build has one error in it from an expired x509_cert_bundle.   You'll need to

[2021-11-08 15:35] SolidStateLEDLighting commented on #73
I just did a clone on this example 2 days ago -- when did you guys fix the CA certs bundle?

I have no particular intention to build as separate components.   My desire is just to get the tool running in any way possible that fits into your intended build directives.   Thank you for the extra information on the intended method of use.   It looks like there is some "meat" in the Readme files and I

[2021-11-08 16:35] dhavalgujar commented on #73
Please find the relevant issue and the comment with more information on this [here](https://github.com/espressif/esp-idf/issues/7631#issuecomment-948445140).

[2021-11-09 03:36] SolidStateLEDLighting commented on #73
I just completely rebuilt the idf install (on Windows) and the certificate root bundle is still causing an error.

I rename the esp-idf directory (which is on my desktop)
I rename the .espressif directory (which is on C://users/<myname>/.espressif

I do the complete install with the online installer -- it takes about 5 minutes and I have no complains during that install... everything runs nicely.

[2021-11-09 03:56] AdityaHPatwardhan commented on #73
Hi @SolidStateLEDLighting, Can you please mention the commit id of esp-idf that you are currently at ?
 The issue was because of `EC-ACC` certificate which had negative serial number. Negative serial numbers are not supported by the latest version of cryptography.
As @dhavalgujar already mentioned [here](https://github.com/espressif/esp-idf/issues/7631#issuecomment-948445140) The fix is already a

[2021-11-09 04:48] SolidStateLEDLighting commented on #73
I don't work with commit ids so I don't know where to find this.

I just completely downloaded a fresh set of tools right before my last post here (as I described above).    So, what commit id would this be?.... and obviously this fix could not be already part of the esp-idf that is downloaded by default.

YES -- that EC-ACC certificate is still inside the cacrt_all.pem file.    My guess would be

[2021-11-09 05:50] AdityaHPatwardhan commented on #73
Hi @SolidStateLEDLighting , I jest checked that the latest installer points to the v4.3.1 tag which is the latest release that we have. Unfortunately, the issue came after the release `v4.3.1` and now the fix would be available only in release `v4.3.2`. The issue can be fixed if you change to any `release/v4.x` branches. But to get the fix in an official release, you might have to wait till v4.3.2

[2021-11-09 11:20] SolidStateLEDLighting commented on #72
The software in question here is about the old version of the esp-aws-iot library.    Since we have a new build, I'm optimistic that streams initiated by MQTT will be working....  no need to further pursue this topic here.

[2021-11-09 11:20] #72 closed

[2021-11-15 06:02] SolidStateLEDLighting opened #74 "Beta ?? Fleet Provisioning example?? (CA-166)"
I'm digging through the Beta -- can I safely assume that the mqtt example is going to lead to success in Fleet Provisioning??

I already achieved Fleet Provisioning in the old esp-aws-iot software, but the new build is a whole new animal and I'm starting over with Fleet Provisioning now.

Fleet Provisioning (and possibly the option for Certificate rotation) is a must have for all large scale devel

[2021-11-17 01:48] rmshub commented on #47
When will be esp-aws-iot beta version turned to stable release.

[2021-11-18 10:04] MaazSk opened #76 "aws_iot: failed! mbedtls_ssl_handshake returned -0x6800 (IDFGH-6259) (CA-169)"
## Environment

- Development Kit:      [ESP32-Wrover-Kit]
- Kit version (for WroverKit/PicoKit/DevKitC): [v1]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version (run ``git describe --tags`` to find it): v4.3
- Build System:         [Make|CMake|idf.py]
- Compiler version xtensa-esp32-elf-gcc (crosstool-NG esp-2021r1) 8.4.0
-Operating System: Linux
-Using an IDE : VS Code.
-Power Supply: USB

#

[2021-11-18 15:35] SolidStateLEDLighting opened #75 "Beta ?? Master Sample Project??? We need it. (CA-168)"
I do appreciate the idea that you have isolated all the sub-projects -- but in the real world we need many of them all together.

Anyone who is making a serious product would use all of these together:

Fleet Provisioning
Thing_Shadow
Jobs
OTA

I'm looking at the need to merge all of the build files and that means I'm burning up time on things that I don't normally handle.

I'm having linking erro

[2021-11-19 14:00] shahpiyushv commented on #76
@MaazSk , the various timeouts can be found here: https://github.com/espressif/esp-aws-iot/blob/249c573cbdcf653c03a6bf3a30f658f005856880/port/network_mbedtls_wrapper.c#L42

However, are you sure that the Internet connectivity on 4G is already sorted?

[2021-11-20 05:50] MaazSk commented on #76
My internet connectivity is of 2G,  I am using a 2G GSM module.

[2021-11-22 14:20] SolidStateLEDLighting opened #77 "MQTT_Subscribe does not self detect valid number of entries in subscription array... (CA-170)"
I'm working with subscribing to topics with MQTT (mutual authentication demo).   My final intent is to exercise Fleet Provisioning.

The subscription routines allow the designer to statically create space for multiple topics.   In the demo code, a call to MQTT_Subscribe calculates the size of the static array as follows:

/* Send SUBSCRIBE packet.
         * Note: reusing the value specified in gl

[2021-11-23 05:04] SolidStateLEDLighting commented on #75
I have this master project with all sub-module together and compiling/linking now.

[2021-11-23 12:15] SolidStateLEDLighting opened #78 "Beta -- MQTT Buffer is way too small for receiving serious data... (CA-171)"
When you are working with Fleet Provisioning, your MQTT buffer has to be 4096 or you will not receive any payload.   The typical byte count for receiving certs and key is nearly 4k.

My complaint is there is no way to detect this error.  The software doesn't complain about trying to receive a message that is too large for the buffer and so the user just doesn't know what the problem is.

You have

[2021-11-23 12:21] VivekPalle commented on #18
Hi, Is this issue closed or still in open. We are also facing the same issue. Using the AWS IOT example from SDK-v3.3.1.
Please suggest, if there is any solution available. Thanks.

[2021-11-23 17:06] shahpiyushv commented on #75
@SolidStateLEDLighting , good to know that you have a master project working.

Meanwhile, we started off adding support for the [demos](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/202103.00/demos) that the original aws iot repository had, starting from release [202103.00](https://github.com/aws/aws-iot-device-sdk-embedded-C/releases/tag/202103.00). It took us quite some time since th

[2021-11-23 17:12] SolidStateLEDLighting commented on #75
I should have my Fleet Provision working again in a day or two.    I had it working in the old sdk before so I know I have the AWS side all setup correctly.

I think the new software is working very well at this point.     I'm really hoping that you have OTA nailed down nicely.   We need that.

[2021-11-23 17:20] shahpiyushv commented on #18
@VivekPalle , have you tried using QOS0 for publishing and also checking for the isDup flag mentioned in the [comment above](https://github.com/espressif/esp-aws-iot/issues/18#issuecomment-597581313)? Getting duplicates is indeed a possibility with QOS1 as network conditions can result in PUBACK not reaching the broker.

[2021-11-24 12:10] SolidStateLEDLighting commented on #74
I have completed Fleet Provision by claim.  I used the mqtt tls mutual authentication example as my guide and everything works well.   The only required change is that the user must increase the MQTT_NETWORK_BUFFER_SIZE to 4096.

[2021-11-26 06:38] VivekPalle commented on #18
@shahpiyushv
Yes, we tried QOS0 but some published events are missing. So, that's the reason we want to make it work with QOS1.
We also tried to check the isDUP flag but it is always zero for normal messages and the same for duplicate messages also. No change was found in the isDUP value.
I am just sharing the log file and screenshots for your reference. Please suggest what to do.
[isDUP value wit

[2021-11-27 04:52] rmshub commented on #47
Any update on this topic ?

[2021-11-28 14:51] listout opened #79 "subscribe_publish example not working"
I've checked my certificates and keys, and everything works with a simple Arduino sketch. But I'm getting `E (15513) aws_iot: Failed ! mbedtls_ssl_read returned -0x7880` error when trying the subscribe_publish example. What am I doing wrong?

mbedTLS debug log:

[code]

Thanks

[2021-11-28 18:09] listout commented on #79
I was able to fix the issue by adding the following defines in my main .c file

[code]

It would be helpful for a newcomer like (and other) if the maintainers updated the readme about this. I'm sure there would be better method of solving the issue (like including an opting in menuconfig.

Thank you.

[2021-11-29 12:05] VivekPalle commented on #18
@shahpiyushv
Do you have any other solution to try?

[2021-11-29 13:48] SolidStateLEDLighting opened #80 "Beta -- Order of Operations for Unified Code??"
mqttMutualAuth - MQTT_Init->TLS_FreeRTOS_Connect->MQTT_Connect

Jobs                    - TLS_FreeRTOS_Connect->MQTT_Init->MQTT_Connect

ThingShadow     - TLS_FreeRTOS_Connect->MQTT_Init->MQTT_Connect

otaMQTT            - MQTT_Init->TLS_FreeRTOS_Connect->MQTT_Connect

I have successfully used mqttMutualAuth to create Fleet Provisioning by Claim.  It works for generating the new cert/key.
But, you

[2021-12-02 15:13] SolidStateLEDLighting commented on #74
BIG WARNING:   Cert/Keys which are received from AWS (for Provisioning) must be cleared of all string "/n" and those replaced with '/n' characters at the end of each 64 char block.  Be extra careful that final string retains '/n' and '/0' on the end or cert/key may fail.   You may need to append stored cert/key with '\0' character after pulling them back out of NVM so they totally match the format

[2021-12-03 10:49] shaikhzahid06 opened #81 "OTA update failing due to signature verification"
Hi,
I have completed aws prerequisites for OTA job and also generated and flashed the code signing certificate. The OTA agent receives the update from the job but fails after receiving the last block due to Signature verification. Below is the console output.
 (313241) OTA: Received valid file block: Block index=223, Size=2544
I (313251) OTA: Received final block of the update.
I (313251) PKCS11:

[2021-12-15 05:53] twlawrenceko commented on #56
@shahpiyushv  Is the named shadows supported by now? I tried with `thing_shadow` example but still appears as classic shadow.

Thank you.

[2021-12-15 18:15] dhavalgujar commented on #56
Hi @twlawrenceko,
Named shadow [support is available](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/202103.00/CHANGELOG.md?plain=1#L9) in the AWS IoT Embedded C SDK 202103.00 release and up.

You can change [this macro](https://github.com/espressif/esp-aws-iot/blob/release/beta/examples/thing_shadow/main/demo_config.h#L263) in the thing_shadow example to use named shadows, and refer to

[2021-12-17 16:53] aleblsv commented on #79
I have the same issue with examples thing_shadow and subscribe_publish

@listout can you share your main.c file ?

[2021-12-18 21:35] shahpiyushv commented on #79
@listout , client id and thing name are indeed part of Kconfig option with some defaults. The default for client id is sufficient if your AWS IoT policy isn't strict. The README in example also mentions about changing the client id [here](https://github.com/espressif/esp-aws-iot/tree/master/examples#optional-set-client-id) if required. The Thing shadow example also mentions about thing name [here]

[2021-12-19 19:00] aleblsv commented on #79
@shahpiyushv Can you please verify examples are working?

[2021-12-20 05:47] shahpiyushv commented on #79
@aleblsv , just tried the subscribe_publish example on esp32/esp32c3 with idf 4.3.1 and it is working fine for me.

[code]

 Please remember to set the following

- main/certs/certificate.pem.crt file
- main/certs/private.pem.key  file
- CONFIG_WIFI_SSID
- CONFIG_WIFI_PASSWORD
- CONFIG_AWS_EXAMPLE_CLIENT_ID
- CONFIG_AWS_IOT_MQTT_HOST

No other changes should be required if you AWS side configurati

[2021-12-20 06:31] aleblsv commented on #79
@shahpiyushv can you share your credentials certificate.pem.crt, private.pem.key, CONFIG_AWS_EXAMPLE_CLIENT_ID and CONFIG_AWS_IOT_MQTT_HOST ?
Also can you attach the policy ?
Thanks

[2021-12-20 07:39] aleblsv commented on #79
@shahpiyushv I noticed missing line in my log (wifi:enable tsf).
So, I have clean all configuration with idf.py set-target esp32
I'm using ESP32-WROVER-E
Now I see the wifi:enable tsf and subscribe_publish example works as expected
Thanks!

I (665) subpub: Setting WiFi configuration SSID xxxx...
I (665) phy_init: phy_version 4670,719f9f6,Feb 18 2021,17:07:07
I (775) wifi:mode : sta (10:52:1c:81:9c

[2021-12-28 18:54] #59 closed

[2021-12-28 19:09] AlexRadek opened #83 "Excessive d_ram usage on OTA example. (CA-178)"
Hey everyone, I noticed that there is a massive usage of d_ram on the OTA mqtt example. I am using an ESP32.

Here is the "idf.py size" log when:
static void setOtaInterfaces(OtaInterfaces_t* pOtaInterfaces)
{
...
pOtaInterfaces->mqtt.subscribe = mqttSubscribe;
...
}
**LOG:**
Total sizes:
 DRAM .data size:   17720 bytes
 DRAM .bss  size:   82552 bytes
Used static DRAM:  100272 bytes (  80464 avail

[2021-12-29 13:04] RobertFoll commented on #74
Are there any guides or examples on using fleet provisioning with ESP32?

[2021-12-29 13:32] SolidStateLEDLighting commented on #74
I made Fleet Provisioning work with the older (current) sdk and also the new beta library.

It is not much more than a series of subscriptions and publishing.   All of it is pretty well explained in the AWS IOT Core documents.

Order of operations is critical to success.

The bear is going to be getting all your roles and policies, and template all set up correctly at AWS.

One last thing that you

[2021-12-29 19:22] RobertFoll commented on #74
Thank you very much for your detailed response.  It is very much appreciated!  I will try this out when I have time!

[2021-12-29 19:28] SolidStateLEDLighting commented on #74
I forget to mention one important thing..  I write in C++.   That adds a bit more difficulty in some situations because of name mangling and stricter structure initialization.    Some of what I wrote previously you may not see if writing in just C.
________________________________
From: RobertFoll ***@***.***>
Sent: Thursday, December 30, 2021 3:23 AM
To: espressif/esp-aws-iot ***@***.***>
Cc: kei

[2022-01-03 13:33] AlexRadek commented on #83
For those interested I have found the problem.

The amount of buffers is kind of big, thats why it uses so much d_ram.

You can change the amount by editing this variable: otaconfigMAX_NUM_OTA_DATA_BUFFERS.

[2022-01-03 13:33] #83 closed

[2022-01-03 19:10] twlawrenceko opened #84 "Pass in char array for SHADOW_TOPIC_STR_UPDATE"
Hello,

How can I pass in a char array/pointer for the location `SHADOW_NAME`?
`#define SHADOW_TOPIC_STR_UPDATE( THING_NAME, SHADOW_NAME ),
                                               SHADOW_TOPIC_LEN_UPDATE( THING_NAME_LENGTH, SHADOW_NAME_LENGTH )`

For example:
char shadow[4] = "abcd"
`SHADOW_TOPIC_STR_UPDATE(THING_NAME, shadow), SHADOW_TOPIC_LEN_UPDATE(THINK_NAME_LENGTH, strlen(shadow))`

Th

[2022-01-04 20:08] xeanhort commented on #73
I'm facing the same error here. I applied this solution (4.3.1, Win10) and it seems to be fine regarding the certificate, but now it fails in other point. I'm not sure if is related or not, so I attach the full log here (I don't want to cut any important part): https://pastebin.com/zv48D5ye

Any help is appreciated, thank you! :)

[2022-01-04 20:21] SolidStateLEDLighting commented on #73
"error: Failed to create temporary file for..."

The tools are in a strange mode and need to be reset.

  1.  Do a "Reload Window"
  2.  "Clean" and rebuild again.

________________________________
From: Aaron ***@***.***>
Sent: Wednesday, January 5, 2022 4:08 AM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/esp-aws-io

[2022-01-05 09:33] xeanhort commented on #73
@SolidStateLEDLighting thank you for replying!

1. I tried a "reload" (reboot Windows + Open IDF CMD again) but it seems to fail for the same reason: https://pastebin.com/RkcePrmg
2. Also, I performed a "clean" and then a "build" but it seems that I have the same result: https://pastebin.com/jmk8Qfh9

I'm not sure if I need to reinstall the tools because if I move (in the same terminal) to one of

[2022-01-05 09:48] SolidStateLEDLighting commented on #73
I was suggesting a reload of the window inside VS Code....

Here is my best suggestion for a Windows build environment.    Follow ALL the default installation instructions when possible.   Any time you deviate from the standard install, you risk having problems that you can't easily solve.

Use VS Code -- and start with the smallest example projects first --- like MQTT or Device Shadow (these do w

[2022-01-05 10:06] xeanhort commented on #73
I'm using the "ESP-IDF 4.3 CMD" to open the console. I also use VSCode + ESP plugin, but I haven't used it with the demo projects.

I think I followed the official instructions step-by-step, but who knows because there are some steps that are not up to date with the latest version.

So you don't have the OTA functionality yet? I've seen some other comment from you asking for a "full example" and I

[2022-01-05 10:12] SolidStateLEDLighting commented on #73
I noticed that you have some of your installation on D: drive.   C: drive is the default area for most Windows/Tool installs.

I repeat:  "I'm in the process of extracting the functionality from it because I feel that it is incompatible with the correct project structure for Fleet Provisioning and Device Shadow work (Jobs, etc)."

I'm pulling down stream packages right now from the S3 bucket....

[2022-01-05 18:45] venkateshgr-ayla opened #85 "AWS Fleet Provisioning using CSR"
Hi, I don't see any demo or libs for fleet provisioning. Is it available? can you help with that?

[2022-01-06 09:35] #76 closed

[2022-01-06 09:46] MaazSk opened #86 "Unable to receive Certificates and keys for fleet provisioning (CA-181)"
## Environment

- Development Kit:      [ESP32-Wrover-Kit]
- Kit version (for WroverKit/PicoKit/DevKitC): [v1]
- Module or chip used:  [ESP32-WROOM-32]
- IDF version (run ``git describe --tags`` to find it): v4.3
- Build System:         [Make|CMake|idf.py]
- Compiler version xtensa-esp32-elf-gcc (crosstool-NG esp-2021r1) 8.4.0
-Operating System: Linux
-Using an IDE : VS Code.
-Power Supply: USB

#

[2022-01-07 09:52] MaazSk commented on #86
The issue is been resolved the receive buffer size was too small need to change it from sdkconfig

[2022-01-07 09:52] #86 closed

[2022-01-07 14:09] venkateshgr-ayla commented on #85
Hi,
Any update?

[2022-01-10 06:06] venkateshgr-ayla commented on #85
Hi This ticket is open

[2022-01-11 08:10] helaagardabbou opened #87 "ESP-AWS-IoT support for fleet provisioning"
Hello please when the ESP-AWS-IoT component will support fleet provisioning ?

[2022-01-13 02:29] SolidStateLEDLighting commented on #87
You can achieve Fleet Provisioning right now.   I did it both the older version and in this new beta version.   Everything is just a matter of subscription and publishing.   There is quite a bit to set up over at AWS, but the instructions there are correct and complete.   Order of operation is important.   And you'll have one sticking point when you receive the new certs.    AWS will send the cert

[2022-01-14 19:19] EmbeddedDBL opened #88 "OTA Agent stopped Causes an ESP reboot (Guru Meditation Error) (CA-183)"
I work with the ota example since they released this version everything has been working fine for my development, lately I've been getting an unexpected reboot of the ESP device just before trying to stop the OTA Agent and the demo. Since I use this demo to provide OTA update to a second processor.

I debug this problem but I don't have a certainty of the problem

Monitor failure log image
idf ver

[2022-01-17 18:29] EmbeddedDBL commented on #87
Hello @SolidStateLEDLighting , could you explain a little more how to carry out the provisioning of fleets with OTA functionality of the release/beta version?

[2022-01-17 23:51] SolidStateLEDLighting commented on #87
All of the IOT services are not much more than subscriptions, publishing, and the handling of response messages.

If you get your project organized correctly, you can do a client log-in (no Thing identity), a Fleet Provisioning, a Shadow connection (Thing identity), a Job service, and OTA -- with just pub/sub and messages.

The big problem with the supplied OTA project is that it is not made for i

[2022-01-18 04:35] mmurty commented on #85
Hi,
Any update on this issue?

[2022-01-18 07:00] venkateshgr-ayla commented on #85
No I haven't been successful yet to build the AWS libs and demo for Fleet Provisioning on ESP32

[2022-01-18 07:58] SolidStateLEDLighting commented on #88
I noticed that you're subscribing and unsubscribing to a stream with no streamId.   That Id would have been obtained previously with a call for a job description.    Make sure you check-box the MQTT protocol option when you set up the OTA job.   I check both HTTP and MQTT and I get all the info even though I don't use the HTTP portion of it.

[2022-01-18 08:16] SolidStateLEDLighting commented on #80
I made it past my problem above.   Shadow, Jobs, OTA all work with the cert/key provided by Fleet Provisioning method.

[2022-01-18 23:19] EmbeddedDBL commented on #87
@SolidStateLEDLighting Thanks for your feedback. I think I now have a clear understanding of the process. Reviewing the AWS documentation suggests the following workflow.

This is a fleet provisioning by claim ( JITP )
![image](https://user-images.githubusercontent.com/94095787/150033039-acdab31c-ff33-4c21-b8ec-75320cc49037.png)

I will be working on conditioning the OTA example for fleet provisio

[2022-01-19 01:03] SolidStateLEDLighting commented on #87
I think that Fleet Provision by Claim and JITP are slightly different things.

The OTA example has nothing to do with provisioning.   It is one of the reasons that I don't like it.  It does not get along with all other services.

I'm not completely up to speed on the code signing for OTA.   I make a custom OTA job and supply the cert in the window provided (third selection).   That cert is sent by

[2022-01-20 11:59] aleblsv commented on #37
@shahpiyushv Is there an example for combining both shadow with publish subscribe?

[2022-01-21 07:56] shahpiyushv commented on #37
@aleblsv , no there isn't. But you can use the `aws_iot_mqtt_subscribe()` and `aws_iot_mqtt_publish()` calls with the same mqttClient as you see in [aws_iot_shadow_connect()](https://github.com/espressif/esp-aws-iot/blob/249c573cbdcf653c03a6bf3a30f658f005856880/examples/thing_shadow/main/thing_shadow_sample.c#L266).

[2022-01-22 15:04] aleblsv commented on #37
@shahpiyushv
Thanks it working for me,
1. I took  connection parameters from the shadow example
2. Use same mqttClient for aws_iot_mqtt_subscribe() and aws_iot_mqtt_publish() and shadow
3. Only aws_iot_shadow_yield() in the while loop

[2022-01-26 00:34] EmbeddedDBL commented on #87
@SolidStateLEDLighting
Hello again.
I appreciate your comments.

Ask you if you used these AWS APIs for fleet provisioning by claim ?
https://docs.aws.amazon.com/es_es/iot/latest/developerguide/fleet-provision-api.html#create-cert-csr-request-payload

This method called CSR is the same as by claim?

[2022-01-26 03:02] SolidStateLEDLighting commented on #87
Yes, I did fleet provisioning by claim.  I believe it is somewhat different than the process which uses the Certificate Signing Request.   I did not read up on the CSR method very much.

I did not use APIs.    There is no programming interface other than subscribing and publishing to topics which apply to the provisioning process (by claim).

You need to set up the AWS side with a provisioning tem

[2022-01-28 06:32] zhouyu2021 opened #89 "MQTT publish and yield in one thread, which result in subscribe message blocked by publishing, how to improve efficiency？"
In shadow APIs，MQTT publish timeout is set to 20 seconds by default, and subscribed topic message is not handled in this period, so I reduced timeout period to 1 seconds, it seems works when the network is not well, but I wander if this will cause any other problems?
    I think it's better to separate publish and yield operation into different thread, but it fail returned for error code "MQTT_CLI

[2022-01-30 18:13] SolidStateLEDLighting commented on #89
When your write the word "yield" I suspect you are using an older library??

I use MQTT_ProcessLoop(pMqttContext, timeoutMS) for my message handling and it works very well.    When you are performing a Subscription, Unsubscription, or a Publish you can't "yield" at exactly the same time inside the same thread.    You perform your action then wait in the MQTT_ProcessLoop for a response to occur.

[2022-02-01 23:16] EmbeddedDBL commented on #87
Thanks for your comment.
@SolidStateLEDLighting
I now understand better what needs to be done, I think I am following the steps correctly but even so I am not getting a response from AWS.

1 Connect to MQTT with claim certificate
2 I subscribe to the answer topics $aws/certificates/create/payload-format/accepted , ....rejected
3 Post a message to the topic $aws/certificates/create/payload-format
T

[2022-02-02 02:16] SolidStateLEDLighting commented on #87
Notes:

  1.  I have no idea how the provisioning with CSR works.   I didn't do it this way so I can't help you in this method.   I did it "by claim"
  2.   Yes -- read the docs carefully on all the topics needed for your specific action
  3.    {}   <--  (this is the empty payload, but literally nothing may also work)    I experimented and read documents to figure this out.

_____________________

[2022-02-02 08:51] helaagardabbou commented on #87
Hello Try to subscribe to the answer topics $aws/certificates/create/json/accepted and publish an empty msg to  $aws/certificates/create/json

[2022-02-02 08:53] SolidStateLEDLighting commented on #87
Why would I want to follow this suggestion?   For what purpose?
________________________________
From: helaagardabbou ***@***.***>
Sent: Wednesday, February 2, 2022 4:51 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/esp-aws-iot] ESP-AWS-IoT support for fleet provisioning (CA-182) (Issue #87)

Hello Try to subscribe

[2022-02-02 08:55] helaagardabbou commented on #87
because payload format musht be cbor or json

[2022-02-02 08:57] SolidStateLEDLighting commented on #87
I have had success with Fleet Provisioning by Claim.

Why are you providing me this suggestion?
________________________________
From: helaagardabbou ***@***.***>
Sent: Wednesday, February 2, 2022 4:55 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/esp-aws-iot] ESP-AWS-IoT support for fleet provisioning (CA-182) (Iss

[2022-02-02 08:58] helaagardabbou commented on #87
This suggestion is a response for empty payload-format error of EmbeddedDBL

[2022-02-02 08:59] SolidStateLEDLighting commented on #87
Of course.... sorry for the confusion.   I'm just looking at this in my email utility.
________________________________
From: helaagardabbou ***@***.***>
Sent: Wednesday, February 2, 2022 4:58 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/esp-aws-iot] ESP-AWS-IoT support for fleet provisioning (CA-182) (Issue #87)

[2022-02-02 09:00] helaagardabbou commented on #87
no problem welcome

[2022-02-02 15:59] EmbeddedDBL commented on #87
@helaagardabbou  That's right, first I subscribe to the answer topics $aws/certificates/create/cbor/accepted and rejected

Then I publish the empty message in cbor $aws/certificates/create/cbor  format but I do not get a response from the server, however when I send a badly formatted message I do get a response in the rejected response topic and this has me confused.

[2022-02-02 16:08] helaagardabbou commented on #87
@EmbeddedDBL the publish and the subscribe are done with the same client ? that's mean  You did subscribe in the device and the publish action with a console client?

[2022-02-02 16:23] SolidStateLEDLighting commented on #87
Please don't use cbor (compact binary object representation) until you need to stream data.    cbor can be used, but you have encode it with a cbor encoder.  The results you get have to be decoded before inspection.

Use json (javascript object notation) so you can easily read the message in when they come back to you.

[2022-02-02 16:26] helaagardabbou commented on #87
@SolidStateLEDLighting  I totally agree with you also u can easily know the error with json format

[2022-02-02 16:32] EmbeddedDBL commented on #87
@helaagardabbou If it is the same client with which I establish an MQTT connection, when I publish the request message in the IoT security/Certificates console I can see that a new certificate is created but I do not receive anything in the /accepted topic.

Ok I appreciate your comments I will change to Json

[2022-02-02 16:34] helaagardabbou commented on #87
@EmbeddedDBL  u must publish mqtt messgae with the device which is subscribed on the /accepted topic

[2022-02-02 16:37] SolidStateLEDLighting commented on #87
Everything is done in the same MQTT connection if that connection is authorized (policy/roles) are defined correctly at AWS.     If the cert/key are being created, that you are at the first step.  Make double sure you are subscribing correctly to the right topics.   Cloud watch can assist you in seeing the actions and there may be some help in seeing errors there (like what topics you have subscri

[2022-02-02 18:52] EmbeddedDBL commented on #87
I publish this in the topic $aws/certificates/create/json in JSON format char payloadBuffer2[] = " "; with the intention that it fails to see if I choose an answer in the error topic.

![image](https://user-images.githubusercontent.com/94095787/152217780-95090b36-8139-4f58-a9cc-70bb5dcf26d7.png)

When I post a correct message I get no response in my mqtt callback function char payloadBuffer2[] = "

[2022-02-02 19:05] SolidStateLEDLighting commented on #87
Here is what the topics look like for Fleet Provisioning by Claim...

// First Step
std::string create_topic = "$aws/certificates/create/json";                                                // This is a publish topic
std::string create_json_accepted_topic = "$aws/certificates/create/json/accepted";  // This is a subscribe topic
std::string create_json_rejected_topic = "$aws/certificates/create/js

[2022-02-03 00:47] EmbeddedDBL commented on #87
@SolidStateLEDLighting
Upon completion of step one before proceeding to step two, the response from the "$aws/certificates/create/json/accepted" topic is received in a callback registered in MQTT_Init( );

Here my problem arises I do not receive any response I do not know if it is my implementation or my AWS configuration

[2022-02-03 00:54] SolidStateLEDLighting commented on #87
You'll need to set up Cloud watch to confirm that the AWS system created a Publish Out message.  That message will be your payload response.

Instructions on how to get Cloud watch to show you all the IOT traffic is documented.    Just follow the the documents.

Everything has to be perfect for everything to work.   Order of operation is critical.   Having your topics correct is critical.

_______

[2022-02-03 03:54] SolidStateLEDLighting commented on #87
Here is another serious possibility....

The demos are not well written (but they are simple enough).  They block in the MQTT_ProcessLoop call for a small period.

The time it takes for you to receive a subscription or publish is small.

The time it takes for you to receive a payload is about 40 times longer in some cases.   So, you'll need to extend out your time in MQTT_ProcessLoop long enough t

[2022-02-03 06:17] SolidStateLEDLighting commented on #75
I have all working together now, Shadow, Fleet Provisioning, OTA, etc.

[2022-02-03 06:17] #75 closed

[2022-02-03 06:17] #74 closed

[2022-02-03 06:18] SolidStateLEDLighting commented on #74
I have fleet provisioning working now....

[2022-02-09 07:21] MaazSk opened #93 "Porting of AWS SDK to use S3 bucket features (IDFGH-6734)"

[2022-02-09 09:21] TakuyaAtMono opened #91 "Memory leak in TLS_FreeRTOS_Connect/Disconnect (CA-187)"
I am using release/beta branch port/network_transport to make the TLS connection.
When I repeat "TLS_FreeRTOS_Connect" and "TLS_FreeRTOS_Disconnect" in this source code, the available memory space decreases.

I checked the source code and found that in "tls_freertos.c", line 67 It seems that the area allocated by esp_transport_list_init has not been released.
If it is managed by a list, shouldn't

[2022-02-10 02:24] zhouyu2021 commented on #89
Thanks for your reply, and I tried the new library with MQTT_ProcessLoop function as you suggested, when I test the SDK with the following codes(use api form shadow_demo_helpers.c):
![image](https://user-images.githubusercontent.com/78245567/153322842-a54e37a6-f35e-453f-8a3e-03ce54897722.png)
it keeps waiting for message arriving, and I publish new message in AWS console to check the receive funct

[2022-02-10 04:40] SolidStateLEDLighting commented on #89
My suggestion???

You haven't given much effort in looking at the examples because your MQTT_ProcessLoop isn't written to include any of the error handling that is shown in the demo samples.  And you have not way to keep returning to MQTT_ProcessLoop.

You'll need to implement a master run loop that accommodates a state transition architecture where the task enters and exists the MQTT_ProcessLoop

[2022-02-10 06:51] zhouyu2021 commented on #89
Thank you for your reply.
Actually I have read your demo samples carefully, and now I was just trying to test the receive function, so for the code I send to you in the pic I did not include any sending procedure.
My question is, just to receive the message(without doing any other things), I still can not receive message stably in the ESP32-C3( lost almost 90% of the message I send from the AWS co

[2022-02-10 09:41] SolidStateLEDLighting commented on #89
You are working this in the original Linux platform?

I'm doing everything in Windows 10.   Its seems like they finally got all the Windows tool working and the environment has all that I need.

This wasn't the case as recently as about 6 months ago.   I was using PIO on top of Windows for the better part of a year.... but when all the IDF tools finally came on-line -- they fought for control of t

[2022-02-10 10:18] zhouyu2021 commented on #89
Thank you for your reply.  But I do not get your point.
Let me clarify my question:
The receive message code works well in my simulator (running in windows)
and it not work in my ESP32-C3 chip( which means lost almost 90% of the message I send from the AWS console).
Now I suspect maybe the new SDK is not support the  ESP32-C3 chip.

And for your information , I did building this in the Linux platf

[2022-02-10 10:25] SolidStateLEDLighting commented on #89
I thought you were talking about a Windows simulator possibly running on another OS.

What simulator are you talking about?    A hardware simulator for the ESP32 running on a Windows machine???

I'm working with the ESP32-WROOM-32D.      I have not seen the C or S products yet.   You may be right.

This sample code you posted is very short of the full design needed because you must return and spen

[2022-02-10 10:33] shahpiyushv commented on #91
@TakuyaAtMono , thanks for reporting this. The issue has been fixed.

[2022-02-10 10:33] #91 closed

[2022-02-10 23:22] EmbeddedDBL commented on #87
I already achieved provisioning by claim using CreateCertificateFromCsr it required more work but it works great.
I couldn't get a response with CreateKeysAndCertificate so I opted for CreateCertificateFromCsr.
Just thank you for your comments @SolidStateLEDLighting  and @helaagardabbou 👍

[2022-02-11 00:18] SolidStateLEDLighting commented on #87
Nice job!   Congratulations.
________________________________
From: EmbeddedDBL ***@***.***>
Sent: Friday, February 11, 2022 7:22 AM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/esp-aws-iot] ESP-AWS-IoT support for fleet provisioning (CA-182) (Issue #87)

I already achieved provisioning by claim using CreateCertificat

[2022-02-11 15:01] helaagardabbou commented on #87
Great! Congratulations !!! @EmbeddedDBL

[2022-02-14 04:30] TakuyaAtMono commented on #91
Thank you for your quick response.
I have confirmed that it has been fixed.
However, the same process is done when the connection fails, so I guess it should be fixed that too. (tls_freertos.c line 110)

[2022-02-14 18:10] YogeshG30 opened #92 "Looking for information about ESP AWS OTA example for ESP32 provided by ESP"
Hi All,

We are working on ESP32-C3 for BLE Wi-Fi gateway project using ESP IDF and Eclipse.
We are looking for features like Web server for Gateway configuration, OTA from AWS, Device connectivity over BLE, Data exchange with AWS S3
We came across sample code for ESP AWS OTA from Amazon site.

**For OTA sample code from ESP,**
           i) From ESP sample example, we came across "ESP HTTPS OTA"

[2022-02-15 09:15] ameyinamdar commented on #92
i) What is the RAM and Flash requirement of "ESP HTTPS OTA" reference code?
-> I am afraid, we don't have exact RAM and flash usage requirement for ESP HTTPS OTA. It does require a TLS connection that consumes around 25KB of SRAM. TLS stack is generally anyway pulled into the application image and HTTP client is pretty thin. You can compile the example and check out both flash and SRAM usage.

ii)

[2022-02-17 13:28] git4gaurav opened #94 "esp ota mqtt (CA-190)"
hi, i'm reffering to:
https://github.com/espressif/esp-aws-iot/tree/release/beta/examples/ota/ota_mqtt
By using esp-idf eclipse v4.20. the below error is obtained is attached
[log1.txt](https://github.com/espressif/esp-aws-iot/files/8088929/log1.txt)
please suggest how to resolve this. currently files downloaded and build. no aws/device side configurations made.

[2022-02-18 01:18] EmbeddedDBL commented on #94
I recommend that you use a version of esp-idf equal to or greater than 4.3 .
You could start by checking if you have FreeRTOS static location enabled.
idf.py menuconfig -> Component config -> FreeRTOS -> Enable FreeRTOS static alloction API

[2022-02-18 06:25] git4gaurav commented on #94
Hi... Im having ESP IDF v4.3
I can see
idf.py menuconfig -> Component config -> FreeRTOS -> Enable FreeRTOS static alloction API
Im attaching screenshot of above.
[Config.docx](https://github.com/espressif/esp-aws-iot/files/8094640/Config.docx)

Pl. suggest what can be done

[2022-02-18 15:43] git4gaurav opened #95 "OTA overview"
Hi,
How to identify what components are occupied in IRAM and DRAM during program run? can .map be used for same?

[2022-02-18 16:37] #88 closed

[2022-02-21 07:43] git4gaurav opened #96 "ota example download (CA-192)"
Hi,
the ota mqtt demo for aws meant for esp32 was downloaded from :
https://github.com/espressif/esp-aws-iot/tree/release/beta/examples/ota/ota_mqtt

Steps use to download project files were:
1. download .zip file from:
https://github.com/espressif/esp-aws-iot/tree/release/beta
2. Download libraries using:
git clone --recurse-submodules https://github.com/aws/aws-iot-device-sdk-embedded-C.git

fol

[2022-02-21 12:28] shahpiyushv commented on #96
@git4gaurav , if you download the repository as a zip, the git commands, including `git submodule update --init --recursive` would not work. I suppose you may have got some error like `fatal: not a git repository (or any of the parent directories): .git`. Please download using `git clone --recursive -b release/beta https://github.com/espressif/esp-aws-iot`

[2022-02-21 14:58] readysteadygo2006 opened #97 "How would I get the IPV4 address of a device within the Mutual Auth demo example"
Hi,

I'm building an application using the AWS SDK Mutual Auth demo as a starting point.

I want to get the IPV4 address of the device.

Normally I could use code such shown below to get the IP:

    esp_netif_t *netif = **????**
    esp_netif_ip_info_t ip_info;
    esp_netif_get_ip_info(netif, &ip_info);
    printf("My IP: " IPSTR "\n", IP2STR(&ip_info.ip));

**However in the context of the demo

[2022-02-22 06:00] mohamed-jasim opened #98 "subscribe_publish example is crashing when connected to a wifi AP which doesn't have internet"
Platform : ESP32-C3
IDF version : v4.3.2

I (23147) MQTT_MGR: Connecting to AWS...
E (28497) aws_iot: failed! mbedtls_net_connect returned -0x52
Guru Meditation Error: Core  0 panic'ed (Load access fault). Exception was unhandled.

Core  0 register dump:
MEPC    : 0x40058eb6  RA      : 0x42117328  SP      : 0x3fcc3030  GP      : 0x3fc91e7c
TP      : 0x3fc812c8  T0      : 0x4005890e  T1      : 0x20

[2022-02-22 17:43] git4gaurav commented on #96
Hi, below error image is shown...
![image](https://user-images.githubusercontent.com/98801591/155188278-5ec736be-7746-420c-9e8b-86bfbeb41161.png)
pl. let me know, what should be done to resolve above

[2022-02-23 09:25] MaazSk commented on #93
Hi @mahavirj,

I just wanted to know if there are any updates on it?

[2022-02-23 17:13] git4gaurav commented on #94
Below are the errors obtained on build:
[972/1009] ccache C:\Users\gau\.espressif\tools\xtensa-esp32-elf\esp-2021r1-8.4.0\xtensa-esp32-elf\bin\xtensa-esp32-elf-gcc.exe -DHAVE_CONFIG_H -DMBEDTLS_CONFIG_FILE=\"mbedtls/esp_config.h\" -DUNITY_INCLUDE_CONFIG_H -DWITH_POSIX -Iconfig -I../main -I../../../../aws-iot-device-sdk-embedded-C/demos/ota/common/include -I../../../../aws-iot-device-sdk-embedded-C

[2022-02-23 18:42] iceananas opened #99 "Request OTA example compatibility for ESP32-C3"
## Expected Behavior

The OTA MQTT example is expected to build for esp32-c3 target.

## Current Behavior

Building the example fails because `/port/ota/aws_esp_ota_ops.c` includes a header which the esp32-c3 does not have.

## Steps to Reproduce

1. Clone repository and go to `examples/ota/ota_mqtt`
2. Switch target using `idf.py set-target esp32c3`
3. Try to build the taget `idf.py build`
4. The

[2022-02-23 18:49] dhavalgujar commented on #99
Hi @iceananas, thank you for reporting this.
Please try the attached patch.
[c3-compatibility.txt](https://github.com/espressif/esp-aws-iot/files/8126989/c3-compatibility.txt)
It will be fixed in the port shortly.

[2022-02-23 18:55] iceananas commented on #99
Well that was fast :) I can confirm that the example builds with the patch. Thanks!

[2022-02-28 15:46] YogeshG30 opened #100 "Query about version of Esp-aws-iot"
Dear All,

We are working on BLE Wi-Fi Gateway using ESP32-C3 (ESp32-C3-DevKitM-1).

We are using latest “Esp-aws-iot framework” as below for AWS connectivity and OTA update from AWS.
https://github.com/espressif/esp-aws-iot/tree/release/beta
Sample code AWS connectivity working well for ESp32-C3-DevKitM-1

As mentioned in “Esp-aws-iot framework” link, the framework is using “aws iot device sdk fo

[2022-03-01 12:46] YogeshG30 opened #101 "soc/dport_reg.h missing esp-idf 4.4 for esp32-c3, CDT Code Builder Error"
Dear All,

We are working on BLE Wi-Fi Gateway using ESP32-C3 (ESp32-C3-DevKitM-1).

While working on esp-idf 4.4 and Esp-aws-iot, we came across following 2 observation

**Observation 1: soc/dport_reg.h missing esp-idf 4.4 for esp32-c3**
     We have installed esp-idf from "Epressif-IDE 2.4.0 with ESP-IDF 4.4 Windows 10, size 1GB" option of esp-idf windows installer link.

     For ota_mqtt & tls

[2022-03-01 21:10] dhavalgujar commented on #101
Can you please try the patch mentioned [here](https://github.com/espressif/esp-aws-iot/issues/99#issuecomment-1049100846) and confirm if it fixes it for you?
This will be fixed in the port shortly.

[2022-03-01 21:12] dhavalgujar commented on #96
Can you please try the patch mentioned [here](https://github.com/espressif/esp-aws-iot/issues/99#issuecomment-1049100846) and confirm if it fixes it for you?
This will be fixed in the port shortly.

[2022-03-02 15:05] YogeshG30 opened #102 "CDT Code Builder Error (CA-199)"
Dear All,

We are working on BLE Wi-Fi Gateway using ESP32-C3 (ESp32-C3-DevKitM-1).

While working on esp-idf 4.4 and Esp-aws-iot, we came across following observation.

**Observation : CDT Core Builder error:**

        Me and my 2 colleagues installed esp-idf from "Epressif-IDE 2.4.0 with ESP-IDF 4.4 Windows 10, size 1GB" option of esp-idf windows installer link.

        While compiling ota_mqt

[2022-03-02 15:58] YogeshG30 commented on #101
Yes the patch worked for us. The code is now compiling.
Thanks for the support.

[2022-03-02 17:11] YogeshG30 opened #103 "OTA MQTT with AWS did not work ESP32-C3"
Dear All,

We are working on BLE Wi-Fi Gateway using ESP32-C3 (ESp32-C3-DevKitM-1).

While working on **OTA MQTT** functionality with esp-idf 4.4 and Esp-aws-iot, we came across following observation

We have installed esp-idf from "Epressif-IDE 2.4.0 with ESP-IDF 4.4 Windows 10, size 1GB" option of esp-idf windows installer link.

For ota_mqtt reference code, functionality we are using latest Esp

[2022-03-03 11:43] git4gaurav commented on #96
Thanks shahpiyushv and dhavalgujar. I was able to run demo.

[2022-03-03 11:43] #96 closed

[2022-03-03 14:32] YogeshG30 opened #104 "Query about Build System Command idf.py size-components"
Dear all,

We are working on Gateway project using ESP32-C3.

We are working on reference code for various Gateway components like AWS connectivity, Device connectivity over BLE, OTA, Web server.

We are analyzing memory analysis for each component using **idf.py size-components** command to estimate overall memory requirement for all components together.

We have few queries for output of idf.py

[2022-03-05 01:09] rmshub commented on #47
Any update on this topic ?

[2022-03-05 06:26] MaazSk commented on #93
Hi @dhavalgujar,

Thank you for your valuable response. I will check these examples and update you soon as I am preoccupied right now and if any help is needed I will let you know for sure.

Thank you for sharing the details

[2022-03-08 13:08] YogeshG30 commented on #102
We observed while importing project, we used to give "Project Name' of our choice. Same causes the CDT Code Builder Error.
The error is not coming after we are keeping 'Project Name" blank while importing project

[2022-03-08 13:08] #102 closed

[2022-03-09 05:38] ameyinamdar commented on #104
Yogesh, you are not considering IRAM text, DRAM data and padding that gets added into the image. If you see "idf.py size" output, you'll see something like:

Total sizes:
Used stat D/IRAM:   99160 bytes ( 228520 remain, 30.3% used)
      .data size:   19084 bytes
      .bss  size:   20232 bytes
      .text size:   59844 bytes
Used Flash size :  805986 bytes
      .text     :  662416 bytes
      .r

[2022-03-09 09:50] YogeshG30 commented on #104
Hi Amey,

Thanks for the clarification.
In your example, .text = 662416 + .rodata = 143314 comes 8,05,730 which is matching with Used Flash size : 805986 bytes

![Flash Size](https://user-images.githubusercontent.com/35325068/157413651-0499e2e3-2647-48d9-ac57-155dbe69467f.jpg)
In our case as shown above, Flash total (Highlighted orange) we understood addition of DRAM.data + .rtc.data + IRAM0.text

[2022-03-10 02:02] tedevel opened #105 "Request OTA example compatibility for *ESP32-S3*"
Just as issue "Request OTA example compatibility for ESP32-C3 (CA-196) #99" I'd like to request a similar patch to the c3-compatibility.txt but for the ESP32 S3.

I've confirmed that this patch words for the ESP32-C3, was hopeful it would also get the S3 to build, but it did not.

A patch for this would be great :) OTA compatibility central to production development with the S3!

[2022-03-11 12:48] sduddell opened #106 "aws_iot_mqtt_subscribe() fails with NETWORK_SSL_READ_ERROR (CA-203)"
Hi,

I'm trying to subscribe to an MQTT topic using aws_iot_mqtt_subscribe(), but it fails.

As shown in below code, trying to subscribe to topic `"M5TimerCameraF1/pub" ` :

[code]
It fails as shown below:
[code]

It connected properly to AWS IOT before subscribing though.
Are there any pre-requisites to be done before subscription?
Any suggestions/solutions would help.

Thanks!

[2022-03-11 12:58] shahpiyushv commented on #106
@sduddell , does your AWS IoT Policy allow the client to subscribe to this topic?

[2022-03-11 14:48] sduddell commented on #106
Hi Piyush,

Thanks for quick reply.
Yes, AWS IoT policy is allowing, still this error is seen.
<img width="996" alt="Screenshot 2022-03-11 at 8 12 42 PM" src="https://user-images.githubusercontent.com/42615462/157889997-f9e48b3d-0083-487b-b15c-cff35c2082e9.png">

[2022-03-14 01:49] jeffxor commented on #47
Any update on this? Is this project discontinued?

No commits for 9 months and using a library that is over 2 years old. When can we expect some updates?

[2022-03-16 10:22] MaazSk commented on #93
Hi @dhavalgujar,
Can you please guide me on how to build the above-mentioned examples as I am unable to build them?

[2022-03-17 05:01] MaazSk commented on #93
Hi @dhavalgujar,

I was going through the examples, but those examples seem to be for pre-signed URLs of AWS. Is there an example where we can upload files without pre-signed URLs?

[2022-03-22 08:23] MaazSk opened #108 "NETWORK_RECONNECT_TIMED_OUT_ERROR after no internet"
I am using esp-idf v 4.3. I am facing the following issue
When there is no internet for a certain duration of time.  The mqtt connection gets disconnected and when the internet is back the device is not connected to the MQTT and even if I try ```aws_iot_mqtt_attempt_reconnect()```. It does not connect back and after a certain time I am getting this error ``` NETWORK_RECONNECT_TIMED_OUT_ERROR```. H

[2022-03-23 09:21] #94 closed

[2022-03-23 14:56] MaazSk commented on #25
Hi @ahtashambaig , were you able to resolve the issue as I am facing the same issue.

[2022-03-24 19:24] DarshanDodal opened #109 "AWS IoT last will does not seem to be working with the shadow example"
I am using the shadow example to connect with my aws iot thing and everything is working fine up to this.  However, when I try using the lwt configuration (I have updated the "mqttClient" struct from example with the last will configurations), it does not send any message on the specified topic.

This is how I have set the mqttClient Struct from the example.

AWS_IoT_Client mqttClient;

 char lwto

[2022-03-25 13:34] shahpiyushv commented on #109
@DarshanDodal , have you checked if your Thing's AWS IoT policy allows publishing to this topic?

[2022-03-25 13:49] DarshanDodal commented on #109
Yes. I have not set any restrictions for specific topics in the policy, all topics are simply allowed.

[2022-03-25 16:11] shahpiyushv commented on #109
@DarshanDodal , not sure how it matters, but the  AWS IoT docs [here](https://github.com/espressif/aws-iot-device-sdk-embedded-C/blob/d1417908038fed0cc68b753a43fca3ea82f97917/include/aws_iot_mqtt_client.h#L114) say that the struct_id must be MQTW. Have you tried that?

[2022-03-25 16:42] DarshanDodal commented on #109
Oh, that is where I did a mistake I guess.
Let me try that!

[2022-03-26 04:22] DarshanDodal commented on #109
@shahpiyushv what if I use lifecycle events of aws iot core, instead of specifying the LWT at device end?. Will that make any difference?

[2022-03-28 14:44] shahpiyushv commented on #109
@DarshanDodal , lifecycle events have pre defined special topics and payloads. If they suit your use case, you may use them. However, if you want to use custom topics and payloads, LWT would be better.

[2022-03-29 08:33] MaazSk commented on #106
Hi @sduddell, did you found the solution as I am facing the same issue.

[2022-03-29 09:05] sduddell commented on #106
In my case, certificate in the device was different from policy where I'm allowing it to connect.
You can also check the cloudwatch logs to understand the error from AWS IoT perspective.

[2022-03-29 09:05] #106 closed

[2022-03-30 13:13] shahpiyushv commented on #109
Closing this issue since it has been answered.

[2022-03-30 13:13] #109 closed

[2022-03-31 11:40] sduddell opened #111 "MQTT message is not received by device after 5min of idle time"
Hi,

My device subscribes to an AWS IoT topic and waits for 30min until it receives a message.
I see that if a message is published within 3-4 minutes, device receives it, but if the message is published after more than 5min, nothing is received by device. I don't see any disconnect/reconnect messages too. Device is not performing any task during this time, it just keeps on yielding using the func

[2022-03-31 15:57] StevenB56 opened #112 "OTA MQTT | assert failed: spinlock_acquire spinlock.h:75 (lock) (CA-209)"
Hi,

I have a issue using OTA MQTT demo. After downloading the new firmware, the ESP32 restarts following an error and starts the update again, endlessly.

I (111698) AWS_OTA: Number of blocks remaining: 2
I (111698) AWS_OTA: Current State=[WaitingForFileBlock], Event=[ReceivedFileBlock], New state=[WaitingForFileBlock]
I (111718) coreMQTT: Packet received. ReceivedBytes=4218.
I (111718) coreMQTT:

[2022-04-04 12:38] StevenB56 commented on #112
I tried with the OTA HTTP demo, I have the same problem! The error is different, but it's in the same place: after downloading all the firmware.

[2022-04-04 17:11] StevenB56 commented on #112
Going directly through ESP-IDF, there are additional logs. But unfortunately I'm still stuck.

[code]

[2022-04-06 07:24] Coffeeye opened #114 "Why doesn't the master branch compile as a standalone component as it did in the deprecated version 3.1.4?"
as in the topic, can someone explain to me how I can use the master branch that contains the latest updates? What are the examples inside and why the master branch does not contain

https://github.com/aws/aws-iot-device-sdk-embedded-C

?, thanks!

[2022-04-06 14:32] klaudiusz223 commented on #114
Hi @Coffeeye
Because in fact you only need libraries that are added as sub modules and the port for esp32.
The same libraries were added to the master branch in the libraries directory. Each as a separate component containing the port if needed.
Set as working directory e.g. https://github.com/espressif/esp-aws-iot/tree/master/examples/mqtt/tls_mutual_auth and then compile the example.
I can confi

[2022-04-11 18:45] YogeshG30 opened #115 "Queries on OTA, mqtt_demo, BLE central, Webserver"
Hi All,

We are working on BLE – Wi-Fi Gateway using ESP32-C3 with features like Webserver, BLE Central, AWS data upload & fetch, OTA from AWS.
We are using latest ESP IDF 2.4.1
We referred following code from AWS IoT Device SDK for Embedded C 202103.00
•	mqtt_demo_mutual_auth
•	ota_demo_core_mqtt
•	BLE Bludroid GATT Central
We integrated all above code together. We have few observations and queri

[2022-04-12 19:29] devUsama commented on #108
One approach which I am using is that i have disabled the mqtt_autoreconnect functionality and whenever client needs to connect with broker after disconnection i manually call aws_iot_mqtt_attempt_reconnect() until it gets connected again.

But in some scenarios like in my case sometimes aws_iot_mqtt_yield() returns NETWORK_SSL_READ_TIMEOUT_ERROR, in that case i have to disconnect and destroy the

[2022-04-13 08:07] devUsama commented on #89
How to manage the delay of MQTT_ProcessLoop() function?

Branch: master
commit id: [544e0d4]

My implementation is in the way that I am calling MQTT_ProcessLoop() continuously in a task to handle all the incoming publish messages on the subscribed topics. The issue which I am facing currently is that If have to publish any message from ESP32 then i call the MQTT_Publish(), but the message actually

[2022-04-13 08:36] SolidStateLEDLighting commented on #89
The process loop looks like this:  mqttStatus = MQTT_ProcessLoop(pMqttContext, 100);

In my experiments, I have never been able to shorten the process time beyond a minimum wait period.  You can lengthen it, but not shorten it lower than that time it takes to process.  I have 100mS here but I believe it takes a longer than this during an idle period.

The only thing that I do is just not enter the

[2022-04-13 09:39] git4gaurav opened #116 "Connection issue and memory analysis"
Hi,
Following is the observations found for TLS connection for OTA MQTT. Mobile hotspot and internet connection options changed and below shown below:
![image](https://user-images.githubusercontent.com/98801591/163146384-c20ec927-3617-485c-b5f9-d850657c1563.png)
TLS disconnected error appears and When connection of internet is re-stored, 3 kB memory reduces on each attempt. Wanted to know the caus

[2022-04-13 13:13] ameyinamdar commented on #115
@YogeshG30  we recently moved LTS support to master branch with many changes. Can you please try with the same? We'll also make the integrated example available shortly.

[2022-04-14 06:54] YogeshG30 commented on #115
Hi Amey,

Thanks for the reply.

Currently we are using CSDK beta release as below for which we post queries above.
https://github.com/espressif/esp-aws-iot/tree/release/beta

As you mentioned we tried master branch OTA code from below link
https://github.com/espressif/esp-aws-iot/tree/master/examples/ota/ota_mqtt

With beta release we are having following observation
1) When device Wi-Fi connecti

[2022-04-14 07:21] devUsama commented on #89
Yeah I am along the lines of calling the MQTT_ProcessLoop(pMqttContext, 100); after a command/message has to be publish. But the point is this message actually gets published when MQTT_ProcessLoop returns after its processing time (which is around 1.5sec despite of passing the timeout parameter with shorter value). So it actually slows down the process and message get receive on the other end afte

[2022-04-14 07:26] SolidStateLEDLighting commented on #89
Ok, then I think you're doing the best that you can.   One fundamental premise of IOT is that device may be disconnected or poorly connected, so I don't think MQTT is very keen on fast communication (my personal guess).

You may be able to reduce a bit of time if you connect with a less reliable quality of service.   More reliable service probably takes more time to complete.   This is just a gues

[2022-04-14 07:52] devUsama commented on #89
Actually MQTT_ProcessLoop(pMqttContext, 100); function always takes same time either we call it after a publish message with QoS1 or we just call it in a task randomly anywhere so don't think it will effect on this delay.
But yeah in previous master branch commit that was with release/v3.1x aws_iot_shadow_yield(&mqttClient, 200); was doing the job nicely, I have tested it with 200ms delay and it w

[2022-04-14 09:22] MaazSk commented on #108
@devUsama Okay, the same approach is been used by me now.

[2022-04-14 09:24] MaazSk commented on #93
Hi @mahavirj, is there any update on this?

Thanks and Regards,
Maaz Shaikh

[2022-04-14 14:13] andrew-elder opened #117 "esp-idf v4.4 and master report cmake errors for idf.py set-target (CA-214)"
IDF version

[code]

esp-aws-iot version
[code]

Output from `idf.py set-target` running in Linux.
[code]
other errors follow, but this is the first one.

[2022-04-14 14:18] andrew-elder commented on #117
Trying
[code]
gave the same result.

[2022-04-14 16:08] #112 closed

[2022-04-14 22:43] AlvaroModuly opened #118 "Multiple connections to AWS IoT"
Hi, I'm trying to connect two ESP32 to the same IoT Thing but on different topics. When I connect just one there is no problem with the connection or the messages, but when both ESP32 are connected both crash after publishing 2 times in their corresponded topics and restart. I think the problem shouldn't be in the code or certificates since the code is able to run we there is just one ESP32.  Does

[2022-04-14 22:58] AlvaroModuly commented on #118
I just found out that the MQTT specification allows only one active connection per client ID, so devices with conflicting IDs are forced to constantly reconnect. Because this might indicate that a device or a device's credentials have been compromised, and might be part of a DDoS attack.
https://docs.aws.amazon.com/iot/latest/developerguide/audit-chk-conflicting-client-ids.html

However, that does

[2022-04-15 06:37] StevenB56 opened #119 "Bug OTA HTTP"
Hi,

I had reported a bug concerning the OTA MQTT which is now solved, I tried the OTA HTTP but failed, see the logs below.
As for the MQTT OTA, the ESP32 reboots following a crash. Thank you for your hard work.

[code]

[2022-04-15 12:06] andrew-elder commented on #117
I'm going to close this because I did a clean checkout to another directory and followed the instructions [here](https://www.espressif.com/en/news/LTSrelease) and the compilation succeeded. I'll do more research on my side.

[2022-04-15 12:06] #117 closed

[2022-04-15 14:32] andrew-elder commented on #105
I'm looking for the same thing!

[2022-04-15 16:44] andrew-elder commented on #105
Here is patch that I worked out that allows S3 to compile
[esp32s3-compatility.txt](https://github.com/espressif/esp-aws-iot/files/8496995/esp32s3-compatility.txt)

I think it is correct, but I can't guarantee it.
.

[2022-04-15 20:45] andrew-elder commented on #81
@shaikhzahid06 - did you figure this out. I'm seeing the same thing.

[2022-04-19 11:59] YogeshG30 opened #120 "MQTT demo mutual authentication - mqtt connect broken session (brokerSessionPresent) return true"
Dear All,

We are referring MQTT demo mutual authentication from C SDK Beta and Master link below.
https://github.com/espressif/esp-aws-iot/tree/release/beta
https://github.com/espressif/esp-aws-iot

As per functionality createCleanSession = true after Power ON. From second connection it always remain false
returnStatus = establishMqttSession( pMqttContext, createCleanSession, &brokerSessionPresen

[2022-04-28 12:05] AlexRadek opened #122 "Memory leak in MDNS found when reconnecting MQTT."
Hello everyone,

I found a leak when using the ota_mqtt example found in "esp-aws-iot\examples\ota\ota_mqtt". Every time the MQTT connection is lost and reestabilished about 600 bytes are leaked which will lead long term to a stack overflow in the Mdns task.

`I (2713) DEMO: OTA over MQTT demo, Application version 0.9.0
I (2713) DEMO: Disconnected successfully
I (2723) DEMO: Heap Size: 137312
I (2

[2022-04-28 18:16] dhavalgujar commented on #122
Hi @AlexRadek, thank you for reporting this.
We have just pushed out an [update](https://github.com/espressif/esp-aws-iot/commit/ee4449d94d6a3f27a9906d89ecc75e22cc1b051a#diff-8fa307e1d2a487aac77cae6ae9b58899ebb3a6d0add7f579c8662cc97a41b383R44) to the network_transport layer that fixes this.

Can you please try again after pulling the latest changes from the `master` branch and check if you are sti

[2022-04-29 12:28] AlexRadek commented on #122
Thank you for answering @dhavalgujar !

At the moment I am in the release/beta brench on the latest commit. I believe the fix you mentioned is already there.

[2022-05-06 11:59] shun-dgut opened #123 "How many topics can be subscribed to at most (CA-224)"
I tried to modify CONFIG_AWS_IOT_MQTT_NUM_SUBSCRIBE_HANDLERS=100. Subscribed to a hundred topics, then all returned success, but only the first fifty topics of the release information device to receive.
The chip is esp8266

[2022-05-06 13:04] shahpiyushv commented on #123
@shun-dgut , as per the limits specified [here](https://docs.aws.amazon.com/general/latest/gr/iot-core.html), a given client can subscribe only to 50 topics.

[2022-05-06 13:07] shun-dgut commented on #123
thank you for your reply.

[2022-05-06 13:07] #123 closed

[2022-05-09 01:08] twlawrenceko opened #124 "How to keep MQTT connection always alive to receive subscribe topics messages?"
Hello,

With the example provided in `thing_shadow`, it will disconnect after the full demo routine is complete. However, even if we remove the line `returnStatus = DisconnectMqttSession();` it will still disconnect after keep alive timeout.

This is the log from AWS IoT:
[code]

How can we keep ESP32 continue to receive messages of the topics that have subscribed in the do while loop?

Thank you

[2022-05-22 19:38] alex-zaika opened #125 "Use in visual studio with platformio extension"
Hello world. It is possible to use your work in visual studio with platformio extension

[2022-05-24 12:34] AlexRadek opened #126 "Example ota_mqtt and ota_http, error with sdkconfig"
Hello everyone, hope you are all having a great day.

I believe there are some configurations that have been left out of the sdkconfig.defaults that make the above mentioned examples unbuildable. Below are the configurations necessary for the build process:

#
# esphttpd
#
CONFIG_ESPHTTPD_ENABLED=y
CONFIG_ESPHTTPD_STACK_SIZE=4096
# CONFIG_ESPHTTPD_PROC_AFFINITY is not set
CONFIG_ESPHTTPD_PROC_PRI=

[2022-05-24 21:11] SolidStateLEDLighting commented on #87
I made everything work, but my project would be considered somewhat complex for "sample standards".

The key is to subscribe to the topics -- ask for the messages that you need -- publish at the correct times -- wrap all of it into one task that loops back around to MQTT_ProcessLoop(pMqttContext, 100) on a continuous basis.

The other side of the challenge is to get AWS set up correctly with roles

[2022-06-02 17:04] twlawrenceko commented on #87
I have tried to do fleet provisioning but seems like I am not receiving the certificate message by subscribing `$aws/certificates/create/json/accepted` topic.
When I tried to do publish `$aws/certificates/create/json` in MQTT Test Client I am able to see the subscribed message showing up correctly in MQTT Test Client. However, when I tried to do it on ESP32 it does not show up in MQTT Test Client,

[2022-06-02 20:48] SolidStateLEDLighting commented on #87
The full process requires that any time you do anything -- you enter the MQTT_ProcessLoop().

Your MQTT_Subscribe() return result confirms that you have sent the request, but only a return value in MQTT_ProcessLoop() will confirm that you have actually been subscribed.

So, a good sample that works it a bit more complicated than what you have written below.

Use cloud watch also to see what the sy

[2022-06-04 19:16] twlawrenceko commented on #87
@SolidStateLEDLighting  Thanks for the information.

I have tested with fleetprovisioning.py script to make sure fleet provisioning can be done. Now trying to convert onto ESP32.

I am following this [example](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/fleet_provisioning/fleet_provisioning_with_csr/fleet_provisioning_with_csr_demo.c) provided by AWS embedded C SDK but fou

[2022-06-04 21:51] bakermat commented on #87
I had some time to look at this today. The part that got me is that I needed to increase the network buffers (used 5000), as I just was not receiving any responses to my subscribe to `$aws/certificates/create/json/accepted"` while I had it configured and saw CloudWatch publishing the data.

I'm now seeing the JSON response, the original question still stands though: while it's just some API calls

[2022-06-04 22:53] SolidStateLEDLighting commented on #87
Yes, the buffer by default is way too small for the certificate info....  I published this comment before but forgot to mention it in the last email.

I store the certs in NVS and look for them when I start up.   If I have them, I register as the MQTT client (with thing name).   If I don't have them, then I drop into provisioning mode (without thing name).

You'll notice that your certificate atta

[2022-06-04 23:00] SolidStateLEDLighting commented on #87
I think the PKCS11 (public key cryptography standards) stuff is important ....   I just follow, when possible, their examples.

Their OTA sample is completely different from all the other examples and doesn't follow the normal pattern, but you can make it follow the pattern if you break it down.   It will integrate nicely when all the correct subscribes and publishes.

____________________________

[2022-06-04 23:14] twlawrenceko commented on #87
I tried to follow the example AWS provided in their embedded C SDK, but having some library linkage issue.
[code]

Here is my CMakeLists.txt file, mostly followed what they have in their example.
[code]

What's interesting is in the previous branch of `esp-aws-iot` they are using this [aws-iot-device-sdk-embedded-C](https://github.com/aws/aws-iot-device-sdk-embedded-C) repo as a base, but now they

[2022-06-04 23:31] SolidStateLEDLighting commented on #87
I just followed their examples -- much like what you have shown here in email.

This is part of my cmakelist.txt in the root directory:

# Set path to corePKCS11 and it's third party libraries.
set(COREPKCS11_LOCATION "${PROJECT_DIR}/aws-iot-device-sdk-embedded-C/libraries/standard/corePKCS11")
set(3RDPARTY_LOCATION "${PROJECT_DIR}/aws-iot-device-sdk-embedded-C/libraries/source/dependency/3rdparty

[2022-06-04 23:42] SolidStateLEDLighting commented on #87
Last posting was my cmake file inside the source file directory.

I have another cmake file in the root project directory which holds my project definition and my target_add_binary_data declarations.

You seem to have wrapped it up all in one file.
________________________________
From: keith ssledlighting.com ***@***.***>
Sent: Sunday, June 5, 2022 7:31 AM
To: espressif/esp-aws-iot ***@***.***>
S

[2022-06-05 02:23] twlawrenceko commented on #87
Can you provide your CMakeLists.txt in the root directory and also for the project directory? I seem to have issue migrating into the root directory.

Thanks!

[2022-06-05 02:36] SolidStateLEDLighting commented on #87
My project contains client, MQTT, provisioning, shadow, OTA, and jobs.    I did the work that Espressif should have done but didn't.   They pulled demos from AWS and their OTA sample is a completely different animal and is not cohesive to the basic demos.   I managed to merge it all together.  It took months of work to get everything to go right for me.

I just don't give that stuff away.... sorry

[2022-06-05 08:17] bakermat commented on #87
Fair enough. Are you using the latest `esp-iot-aws` release by the way? I can see similar code to yours in the previous branch as @twlawrenceko, not in the current one.

The current `ota_mqtt` example doesn't even compile in my case so basing it off that seems less than efficient.

[2022-06-05 08:24] SolidStateLEDLighting commented on #87
I pulled my code from what was considered the beta about Nov/Dec of last year.   That beta was supposed to be released (according to an Espressif press release), but that was just a big fat lie.

I do not know what they have released from that point.   I stopped working on the project late last year.

If you can get subscriptions and publishing to work, you have all you need to get everything goin

[2022-06-06 00:25] twlawrenceko commented on #87
@bakermat , I am using the ota_mqtt example as a base as that includes the most library dependencies that are required for fleet provisioning.

@SolidStateLEDLighting , can you provide some information on if you have used the `posix` (not `posix_compat`) library for your fleet provisioning?

`mbedtls_pkcs11_posix.c` seems to be a self written package from AWS. Did you use this library?

I am using

[2022-06-06 00:39] SolidStateLEDLighting commented on #87
I have not embraced posix.   I don't pay any attention to this kind of compatibility.    I believe the IDF provides some (or much) of those routines in a simpler form.    I didn't care for -- what looked like more complex methods within posix libraries.

mbedtls_pkcs11_posix is not within my project.

Notice:   I do all the normal MQTT security things -- but when using OTA, I do not use encryption

[2022-06-08 04:37] lawrenceko-intecular commented on #87
I have attempted to follow the example as @twlawrenceko has mentioned, where when processing `MQTT_ProcessLoop()` will cause LoadProhibited error to show up. The exact [line](https://github.com/lawrenceko-intecular/esp-aws-iot-for-fleet-provisioning/blob/b4e7158efaa831131e1b32208d450fb828c3714f/examples/fleet_prov_simple/main/shadow_demo_main.c#L1019)

I have read some issues mentioning the buffer

[2022-06-08 04:46] SolidStateLEDLighting commented on #87
If you count all the characters from a provisioning response, it will be around 3,500.   Set your buffer to at least 4k (4096).   Give that a try.   Buffer over-flows don't crash the application, you just don't receive the data.  This LoadProhibited error is from something else -- like a bad pointer.

Remember to always circle back around to MQTT_ProcessLoop() for the results of each action (const

[2022-06-08 04:49] lawrenceko-intecular commented on #87
We have also noticed that is is around 3500, but the idf.py menuconfig limits to 2048, so we should manually change it to 4096?

One thing we have is this receiving messages after each subscribe, is this correct behavior?
[code]

[2022-06-08 04:49] SolidStateLEDLighting commented on #87
HEY -- One more thing --- increase your stack size in that IOT task handler to about 16k (16,384) and examine if you like the HighWaterMark to analyze your memory usage as needed.

If you run out of memory in the task handler, you will crash.

________________________________
From: keith ssledlighting.com ***@***.***>
Sent: Wednesday, June 8, 2022 12:46 PM
To: espressif/esp-aws-iot ***@***.***>
Su

[2022-06-08 04:51] SolidStateLEDLighting commented on #87
If my memory serves me well today, that 2048 limit is just set by another file in the system.   Do a search in files for "2048" and you'll find it -- change it.
________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Wednesday, June 8, 2022 12:49 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/e

[2022-06-08 04:53] SolidStateLEDLighting commented on #87
In addition to a successful result in your subscriptions/publishing -- you should always receive back a message and that message will only be received in the MQTT_ProcessLoop().    Always return to that loop between actions and handle all incoming message or error results.
________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Wednesday, June 8, 2022 12:49 PM
To: espressif/

[2022-06-08 05:17] SolidStateLEDLighting commented on #87
HEY -- this error message says:      Warn: Unexpected publish message received. Topic: .

You sent a publish message that was unexpected....

And the topic was "."

So, you may not have been subscribed to anything?... and you didn't send a full string message.
________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Wednesday, June 8, 2022 12:49 PM
To: espressif/esp-aws-iot *

[2022-06-08 05:26] lawrenceko-intecular commented on #87
The log shows
[code]

So I thought it was receiving messages from AWS IoT, not me publishing other topics to AWS IoT.

[2022-06-08 05:28] SolidStateLEDLighting commented on #87
Oh... yea... your hardware received 3 bytes identified as a response to your publish request and it is so small that it doesn't specify the Topic responded to.

________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Wednesday, June 8, 2022 1:26 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Mention ***@***.***>
Subject: Re: [espressif/es

[2022-06-08 06:21] lawrenceko-intecular commented on #87
The LoadProhibited error occurs when I am trying to print out the JSON payload. I have increased the main task heap size to 8192, is there any other portion that needs to be taken care of giving more space?

[2022-06-08 06:25] SolidStateLEDLighting commented on #87
I have my IOT task heap set to 16k.

I can't quite recall why I set it up that high, except to say that I experimented to come up that number.

Larger is better to get the thing running and then determine how much you can reduce later.
________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Wednesday, June 8, 2022 2:22 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssle

[2022-06-09 03:53] lawrenceko-intecular commented on #87
@SolidStateLEDLighting , how did you import the certificates and private keys into PKCS11Session?

[code]
This is what AWS embedded C has provided, however, within ESP, the path would not be valid as it cannot find where the certificate is located.

[2022-06-09 03:59] SolidStateLEDLighting commented on #87
I do not recognize the loadClaimCredentials command that you use here.

What is the loadClaimCredentials doing for you?

In my work the provisioning credentials arrive in a text file and are immediately usable.

Why do the credentials need to be loaded into PKCS11?

________________________________
From: lawrenceko-intecular ***@***.***>
Sent: Thursday, June 9, 2022 11:53 AM
To: espressif/esp-aws-

[2022-06-09 04:14] lawrenceko-intecular commented on #87
How did you load the incoming credentials inside `EstablishMqttSession`?

In ESP's example, they put the client.crt and client.key before hand and I do not see where in the code it loads the certificates and keys. In AWS' example, they use PKCS11 to load the new credentials after getting from Fleet Provisioning topics.

[2022-06-09 06:02] SolidStateLEDLighting commented on #87
Keep in mind that I did not provision with a csr

NetworkCredentials_t *opensslCredentials = (NetworkCredentials_t *)malloc(sizeof(NetworkCredentials_t));

serverInfo.pHostName = AWS_IOT_ENDPOINT; // Initialize information to connect to the MQTT broker.
ESP_LOGI(TAG, "Connecting to %s", AWS_IOT_ENDPOINT);

serverInfo.hostNameLength = AWS_IOT_ENDPOINT_LENGTH;

serverInfo.port = AWS_MQTT_PORT;
ESP_L

[2022-06-28 07:16] new5631 opened #127 "How to shorten the transmission time of mqtt?"
Hello everyone,
    The problem we currently encounter is that the time difference between the application sending an instruction to the device and receiving a reply is about 5 seconds.
The demo tls_mutual_auth test shows that the timeout time set for MQTT_ProcessLoop is 1500ms, but the function also takes about 3S.

#define MQTT_PROCESS_LOOP_TIMEOUT_MS        ( 1500U )

            starttime = Cl

[2022-06-29 09:19] Alson-tang commented on #127
Hello. I have read this question and found that `TLS` uses the **block** method to read data, so I recommend customers to set the TLS method in `xTlsConnect` to **non_block** mode.
[code]
But I found a new problem. After using the **non_block** mode, the failure rate of establishing MQTT connection will increase, and the system will output the following log
[code]

[2022-07-13 17:21] davidallenmann opened #128 "libraries/common/posix_compat missing path to esp_timer"
/libraries/common/posix_compat/CMakeLists.txt  should add path for esp_timer or get build error missing esp_timer.h
Tested with mqtt_demo_mutual_auth

[code]

[2022-07-18 11:50] ChromaMaster opened #129 "Integrate the esp-aws-iot libraries within a C++ project"
Hi,

I'm trying to integrate the `esp-aws-iot` library in a C++ project without any success. The only library that I'm currently aware of is the `coreHTTP` and the esp port of the transport libraries, present in the `libraries/coreHTTP/port/network_transport` directory but I'm sure this would happen as well with the rest of the libraries.

After taking a look at those libraries, I figured out that

[2022-07-27 02:54] chip6006 opened #130 "Amazon Web Services Iot Platform disappeared from sdkconfig (CA-232)"
I have been using the esp-idf as my build platform for a project connected to AWS.
I just did a "git pull" in the wrong folder "C:\Users<user>\esp-aws-iot\examples>" which i guess updated esp-aws-iot.

Now I can't build my project. my error for "idf.py build" is:
`fatal error: aws_iot_config.h: No such file or directory`

**Component Config -> Amazon Web Services Iot Platform** has disappeared fro

[2022-07-27 11:20] chip6006 commented on #130
Resolved.
In accidentally pulling the latest I seem to have jumped to the main branch.
I switched to the release/v3.1.x branch did a clean build and all is good again
`git rev-parse --abbrev-ref HEAD` to confirm my current branch
`git checkout release/v3.1.x` to checkout the older release branch

[2022-07-27 11:20] #130 closed

[2022-08-01 18:40] davidallenmann commented on #129
I had the same issue.
I was able to run the functions in the MQTT mutual auth demo (https://github.com/espressif/esp-aws-iot/tree/master/examples/mqtt/tls_mutual_auth/main) by wrapping the AWS library includes with extern "C" in my C++ code.

This also had to be done in demo_config.h

[code]

This also had to be done in demo_config.h (shortened version below)
[code]

[2022-08-02 15:07] Kuang-ShengCheng opened #131 "Is there any plan for this frame work to support ESP-IDF v4.4 or above?"
We are planning to use the ESP32-S3 module, which requires the use of ESP-IDF v4.4 or v5.0, and since it is mentioned that this framework only supports ESP-IDF v4.3 currently, we are not sure if we can use this framework to develop the AWS IoT application on the S3 module.

[2022-08-05 12:35] Rgarrido-RBN commented on #131
There is an example of use [here](https://github.com/FreeRTOS/iot-reference-esp32c3), you have to do minor changes in ESP-IDF configuration in order to make it work with ESP-IDF v4.4, but I understand that is officially suported.

You have to enable ** mbedTLS threading abstraction layer** from the menuconfig if you are using it in your own project. Unlike the previous version, you could not add i

[2022-08-19 18:08] FanuelConrad opened #133 "Guidance on OTA Update on ESP32 via AWS IoT and Platform.IO (CA-236)"
Hello,
I'd like to be guided on how to perform OTA Update on ESp32 via AWS IoT and Platform.IO
Any response will be highly appreciated

[2022-08-24 00:00] Gabriel-Gardin opened #134 "How to integrate with coreMQTT Agent library (CA-237)"
Hello,

I really appreciate this component and the examples, however, I would also like to use the coreMQTT Agent library, is there any plan to include it?

The idea of having a dedicated MQTT agent task that manages the MQTT connection in the background is really nice, this way we could use the MQTT as a library, with multiple tasks publishing and receiving messages simultaneously. I am trying to

[2022-08-24 03:32] borch84 commented on #89
I am having problems for getting published messages from the AWS console. In my ESP32 code I have subscribed to the /update/delta, when the application is running, it is not getting anything from /update/delta if I changed the desired state from AWS Console.

So this is what I am doing:

1. Subscribe to /update/delta
[code]

2. Start thread process_messages:

[code]
3. Publish the desired stated m

[2022-08-24 03:44] SolidStateLEDLighting commented on #89
4 things come to mind....

  1.  Make sure your receive buffer is large enough to handle the message.
  2.  Look at CloudWatch to make sure the system is "publishing out" a message to you.
  3.  You'll need to be careful when using the console testing area.... the subscription/publishing there should be to the update topic and the delta should be created by system automatically for you.   Make sur

[2022-08-24 09:01] dhavalgujar commented on #134
Hi @Gabriel-Gardin,
The coreMQTT-Agent library is included in the latest release of our port.
You can find it here: [esp-aws-iot/libraries/coreMQTT-Agent](https://github.com/espressif/esp-aws-iot/tree/release/202012.04-LTS/libraries/coreMQTT-Agent)

There is also a reference example that shows how you can use the coreMQTT-Agent library for simple PubSub and OTA, that you can find linked in the REA

[2022-08-24 09:25] dhavalgujar commented on #89
Hi @borch84,
I will try to replicate the issue that you are describing.
Meanwhile, we [offer](https://blog.espressif.com/announcing-aws-iot-reference-example-for-esp32-c3-6587daf735d0) a production-ready starting point that you can refer to, [here](https://github.com/FreeRTOS/iot-reference-esp32c3).
It uses this `esp-aws-iot` port of the LTS libraries but offers a single, extensible example that c

[2022-08-24 13:40] borch84 commented on #89
Thanks for the info @dhavalgujar
Do you think the esp32 production example works with DevKitC? I am not using esp32c3, mine has only 4MB of flash.
So instead of using the MQTT_ProcessLoop, the reference example uses MQTTAgent_CommandLoop for listening incomming messages, maybe I can try to implement the MQTTAgent_CommandLoop in my thread instead.

Another question, is the reference example using t

[2022-08-24 13:49] dhavalgujar commented on #89
@borch84,
The reference example does not have anything specific to the ESP32-C3 (apart from the temperature sensor reading API, which can be easily changed), so it should work for your ESP32 DevKitC with 4MB of flash with little modification.

The reference example does not include a demo of Device Shadow, but you can add a task that uses the coreMQTT-Agent for Device Shadow, in a similar manner t

[2022-08-26 15:04] borch84 commented on #89
Thanks for the information @dhavalgujar I will try to implement the example reference and incorporate the device shadow task. Best regards

[2022-08-31 23:49] jobo89 commented on #69
It looks like the CMakeLists.txt file is not in the latest release. You can try:
[code]

[2022-09-02 12:15] andrew-elder opened #135 "OTA MQTT example reports errors at the end of a successful update"
This test was run on a ESP32-S3-DevKitM-1.

ESP-IDF

8153bfe412 (HEAD, tag: v4.4) versions: Update version to 4.4.0

esp-aws-iot
8153bfe412 (HEAD, tag: v4.4) versions: Update version to 4.4.0

with this patch for ESP32S3 compilation
[code]

Using example esp-aws-iot/examples/ota/ota_mqtt

Building and running it ends up with

W (693480) wifi:<ba-del>idx
W (693480) wifi:<ba-del>idx
I (693480) wifi:

[2022-09-07 16:43] EtienneMdv commented on #127
Hi,

I am facing the same issue as described by @new5631. I recently migrated from Amazon-Freertos to esp-aws-iot. The transmission time in AFR (which uses Secure Sockets) was perfectly fine. However, the transport implementation in this repo uses blocking socket which induces important delays when publishing MQTT messages, ~3s. It is said in[ coreMQTT docs](https://aws.github.io/aws-iot-device-sd

[2022-09-07 18:26] Kuang-ShengCheng commented on #131
There is an update on the https://github.com/espressif/esp-aws-iot page, saying

[code]
Does this mean that ESP-IDF v4.4 is now officially supported without tweaking the latest esp-aws-iot code?

[2022-09-13 06:08] tobyloki opened #136 "AWS IoT sometimes unable to reconnect"
I've bene using the thing shadow example based on https://github.com/espressif/aws-iot-device-sdk-embedded-C/tree/release-v3.1.x. Sometimes the device disconnects from AWS and is unable to reconnect even though there is wifi and internet available. It gives out the error NETWORK_ATTEMPTING_RECONNECT. What can I do to make sure the device always reconnects back to AWS?

[2022-09-20 06:22] lawrenceko-intecular opened #137 "OTA Job shows status Failed even after ESP32 successful update"
Hello,

We have tested the `ota_mqtt` example and everything works fine except the Status showed failed even after ESP32 has successfully updated via OTA.

Are there any messages we need to send back to AWS IoT to confirm the update is successful and complete?

Thank you.

<img width="1814" alt="image" src="https://user-images.githubusercontent.com/105698389/191182242-f7281afc-0f8d-423e-8aa7-860ab

[2022-09-20 16:41] tandelprashant opened #138 "Request for information on support with esp-idf "release/v5.0""
Hi,

When can we expect the support for this example on ESP-IDF version "release/v5.0".
Is there any patch available or any other way I can get it work for above mentioned version?

Thanks in advance!

[2022-09-22 07:13] florjandule commented on #18
Is there any update on this topic? Setting the isDup as true when received first message doesn't work either.

[2022-09-23 09:33] MarkoRimacByteLab commented on #127
Hello!

Same issue is happening to me aswell with the xEspTlsConfig configuration provided in your library [here](https://github.com/espressif/esp-aws-iot/blob/14624cc6d636f19b143e31fbf1fd6c8c11134068/libraries/coreMQTT/port/network_transport/network_transport.c#L29) . All MQTT messages I am sending are delayed for 3sec + minor delay of 20-30ms.

My test scenarios and solution I found working is p

[2022-09-24 05:28] patricegamakuoh opened #139 "Expired AWS Certificates"
Hi ESP/AWS Team,
We are contacting here to resolve an issue with our existing products, we are using the ESP32 chip in our products and AWS as our IoT core, our costumers constantly update firmware via the OTA and AWS . The problem we have ran in to is that, the AWS certificates (keys) inside the products have been expired which can not enable our customers to update firmware or use their mobile a

[2022-09-27 09:10] lawrenceko-intecular commented on #137
Any updates on this?

[2022-09-29 21:01] davidallenmann commented on #137
I got the same error until I increased the APP_VERSION_BUILD in demo_config.h

[2022-09-30 19:29] davidallenmann commented on #119
I get the same error with HTTP OTA.
MQTT OTA works.

[2022-10-06 01:01] lawrenceko-intecular commented on #136
I also have the same issue even with the ota_mqtt demo project, any way to resolve this?

[2022-10-07 07:41] hamedmo opened #140 "Null pointer dereferencing after setting CONFIG_EXAMPLE_USE_SECURE_ELEMENT to TRUE (CA-243)"
Hello. I'm trying to use ATECC608 with my ESP32. In MQTT tls_mutual_auth example when I set CONFIG_EXAMPLE_USE_SECURE_ELEMENT to true, line 16 in network_transport.c under coreMQTT\port\network_transport causes core panic since it is trying to get strlen of a NULL pointer. pcClinetCertPem and pcClientKeyPem are set to NULL  in mqtt_demo_mutual_auth.c (lines 568 and 569). Lines 15 and 16 in network

[2022-10-07 12:09] hamedmo commented on #140
Well actually the bigger problem is setting the variables to NULL at all since the underlying esp_set_atecc608a_pki_context function needs clientcert_buf not to be NULL in case a custom ATECC608 chip is used.

[2022-10-07 12:15] hamedmo commented on #140
My bad! The certificates must be manually provided in case a custom configured ATECC608 is used. The example setting the buffers to NULL however might cause misunderstanding.

[2022-10-07 12:15] #140 closed

[2022-10-15 15:57] SolidStateLEDLighting commented on #129
Guys, thanks for the post/response.   This is important information that helped.   Yes, without the extern C declaration, you can get the project to compile but it won't link.   They should a least mention this issue in the documentation in the undefined references section of the Build System documentation page.

[2022-10-16 19:43] SolidStateLEDLighting commented on #137
In theory, once you have rebooted, the system should go check for any in-progress jobs.   It will find the uncompleted OTA that you previously were running.   Then, your software would essentially resume that job and send the final update back to AWS which will render that job as successfully complete.     I don't use those examples --- so, I don't know how it is technically done in those example

[2022-10-16 19:56] SolidStateLEDLighting commented on #136
If you disconnect, then I suggest you do a full shutdown of the TLS/MQTT connection, then restart if Wifi/SNTP is still connected and valid.

Be sure that you're always going through  MQTT_ProcessLoop when you are idle and doing nothing because  MQTT_ProcessLoop initiates/handles your PING/PINGRESP.     If you're not continuously moving through MQTT_ProcessLoop, then your connection will get dropp

[2022-10-16 20:06] SolidStateLEDLighting commented on #128
I just went through all this....and its a pain the first time around.

First at the project level include extra components like this:

set(EXTRA_COMPONENT_DIRS
     "${CMAKE_CURRENT_LIST_DIR}/components/esp-aws-iot/libraries/common/posix_compat"
)

Second at the project component level (main component or another component) -- add      REQUIRES posix_compat      to your idf_component_register state

[2022-10-16 20:09] SolidStateLEDLighting commented on #124
I believe you're not passing through MQTT_ProcessLoop on a regular basis.   The MQTT_ProcessLoop function will ping the server and keep the connection alive on its own.  MQTT_ProcessLoop is also responsible for allowing the event handlers to fire when a message arrives.

[2022-10-22 02:36] law-ko opened #145 "Initialization of subscribe and publish very slow (delay)"
Hello,

We have realized the initialization process of subscribing and publishing is very slow and is due to the delay between each subscribe when the device first boots up. Is there any way to decrease or speed up the process?

[code]

Thank you

[2022-10-22 03:39] SolidStateLEDLighting commented on #145
Can you put a measurement on your observation?   What exactly are you seeing in terms of "slow"?

[2022-10-24 11:17] law-ko commented on #145
From the data log it is showing there’s a delay of 3000 ticks, which is around 3 seconds.

[2022-10-24 11:20] SolidStateLEDLighting commented on #145
How are you calling the MQTT_ProcessLoop() function.   Are you applying a long wait time there?

[2022-10-24 11:37] law-ko commented on #145
The `MQTT_ProcessLoop` function is the same as in the example shadow thing project. It is called [here](https://github.com/espressif/esp-aws-iot/blob/14624cc6d636f19b143e31fbf1fd6c8c11134068/examples/thing_shadow/main/shadow_demo_helpers.c#L782)

[2022-10-24 11:50] SolidStateLEDLighting commented on #145
So, I think we can see where you are getting 3 seconds.   Notice that MQTT_PROCESS_LOOP_TIMEOUT_MS has a value of 1500mS.

Your first wait is sending the outgoing message and your second wait is receiving the response.

The examples which show how to run the libraries are not optimized for performance.   They are just working examples -- and they work.

Now it is up to you to change the call to MQ

[2022-10-24 12:06] SolidStateLEDLighting commented on #139
Are these just the keys that you need to decrypt the OTA download?  As I understand it -- you have the option of making a custom OTA where you supply the key and the AWS will send that over MQTT externally to the binary file during the Jobs process.

Sounds like you are also somehow rotating certificates from with the new OTA binary.   You might consider not doing that -- I believe AWS recommends

[2022-10-24 12:13] SolidStateLEDLighting commented on #127
The answer is to re-write the entire module to call MQTT_ProcessLoop( pMqttContext, 0) endlessly.   In this case, you wait the least for your sending AND receiving.  (1500 x 2 = 3 seconds for each round trip per the provided examples).

Using a wait time of 0 says, just check to see if I have something and get back to other work.

Rewrite the whole thing and include all services inside -- Client l

[2022-10-24 13:02] law-ko commented on #145
Changing `MQTT_PROCESS_LOOP_TIMEOUT_MS` to 1000U or 200U does not change the delay between subscribes. The data log still shows 3000 difference.

[2022-10-24 13:05] SolidStateLEDLighting commented on #145
Then that is what subscribing takes in this case.    Try to subscribe and unsubscribe sparingly.

You may also notice that subscribing has a fault catching routine.   You might want to examine that to see if the backoff algorithm is in play and repeating your subscription process for some unknown reason.

[2022-10-24 13:09] law-ko commented on #145
Do you mean that subscribing and publishing requires 3000mS to finish? If you look at the data log the delay is after the subscribe receives the `SUBACK`, which I don't think (or don't know why) it requires another 3000ms wait to start for the next subscribe.

[2022-10-24 13:21] SolidStateLEDLighting commented on #145
You need to write the code which does what you want without any delay.     Stop relying on this sample code which is just there to prove the concept.    Once you have a response of any kind, you may immediately send another message of the appropriate type and the MQTT_ProcessLoop will seek out the next response as needed.   I'm telling you again -- don't put any wait time in there and you'll get t

[2022-10-24 14:27] law-ko commented on #145
Changed `MQTT_PROCESS_LOOP_TIMEOUT_MS` to `0U` to shorten subscribe and publish time

[2022-10-26 18:18] mazdacardinal opened #146 "High percentage of failures with xTlsConnect (CA-249)"
Hi, I'm seeing a large number of failures when trying out demos that use this library on the tls connection:

[code]

I'm using the demo from this repo: https://github.com/FreeRTOS/iot-reference-esp32c3 and setting the pcServerRootCAPem, pcClientCertPem and pcClientKeyPem settings in the network context. Somewhere around 1 in 8 device start ups it works perfectly. Any other time I restart the devi

[2022-10-26 19:28] SolidStateLEDLighting commented on #146
I use the call to xTlsConnect in my IOT project and I have no issues with it.    The only thing that strikes me strange here is that I'm wondering if somehow your SNTP is not getting the job done?    Getting a response from a time server takes a few seconds... for me, all the way around the world, sometimes 6 or 7 seconds.    You must have the date/time set in the ESP before you can attempt to log

[2022-10-27 00:45] mazdacardinal commented on #146
It doesn't seem to matter if the clock is set or not. It can connect either way but still has a high degree of failure in both cases. The time spit out during each connection attempt is the current time in UTC. Im setting the clock after wifi initialization with:
[code]

[2022-10-27 07:08] SolidStateLEDLighting commented on #146
The time is important because without it, you can't negotiate with AWS correctly.    Your algorithm here may set up the clock, but a callback occurs a few second later when the time arrives.   If you charge off to make an AWS connection without waiting for the SNTP callback, then you have a problem.    I would think, however, that the example code does this correctly behind the scenes.

Here is a

[2022-10-31 09:56] LozGMK commented on #133
Have you tried [this](https://github.com/maxgerhardt/pio-espidf-aws-mqtt-ota)?

[2022-10-31 11:45] LozGMK opened #147 "OTA not working with long(er) thing names (CA-250)"
Hi all,

I've been trying to test (and incorporate into some existing AWS IoT code), the OTA code in [this repo](https://github.com/maxgerhardt/pio-espidf-aws-mqtt-ota). That is a PlatformIO compatible version of the repo here, so only differs from this repo in ways that allow it to be developed and built in VS Code / PlatformIO. What I'm trying to say is that I don't think the changes in that rep

[2022-10-31 18:34] SolidStateLEDLighting commented on #147
3 thoughts...   I'm not sure if these will help you.

Make sure your task stack memory is sufficient.

Next, make sure your receive buffer is sufficient. (probably is if you also fleet provisioning with it).

Why the strange job name of AFR_OTA-c9df...bc76?    That strikes me as unusual....   just curious.

[2022-11-01 11:18] LozGMK commented on #147
Thank you for the thoughts.

I've had a stack monitor running during all of these processes, reporting back the "high water mark" for the various tasks, using `uxTaskGetStackHighWaterMark()`. I don't think that showed anything running low on memory, but I'll double check that it's not occurring for the ones that failed.

I'll check the receive buffer for the OTA actions is large enough. I'm kind o

[2022-11-01 12:44] SolidStateLEDLighting commented on #147
I just moved all my work into the component architecture (CMake driven under the components directory).   I had to because my older project would not compile/link nicely with the newest release of the library (I also moved from aws-iot-device-sdk-embedded-c over to esp-aws-iot at the same time).  Everything is running nicely as far as I can tell.

[2022-11-01 15:29] LozGMK commented on #147
Yes, I'd like to have everything running in the newer (esp-aws-iot) libraries, but I haven't managed to wrap my head around them yet, so I'm just going for "something that does the job, with minimal changes" for now. Since all of the functions and structures seem to have changed quite a lot (between aws-iot-device-sdk-embedded-c and esp-aws-iot), I feel like it might take a bit of time to port the

[2022-11-01 16:43] SolidStateLEDLighting commented on #147
My original project was written for the March 2021 aws-iot-device-sdk-embedded-c.

I then went to port it to the newer August 2021 aws-iot-device-sdk-embedded-c, but I had problems.

I realized that Espressif had moved their work into the esp-aws-iot.   I believe you'll notice that all the "issues" from the embedded-c sdk were also moved over to the esp-aws-iot github repository.   (only 3 issues

[2022-11-02 22:56] davidallenmann opened #148 "OTA fails with larger updates (4.6MB) (CA-252)"
ESP32-Wroom-2 DevKit-C N32R8
ESP-IDF v4.4.2-378-g9269a536ac
OTA update using MQTT fails for 4.6MB binary.
factory, ota_1 and ota_2Partition is 5 MB.

Initial errors start with Receiving duplicate blocks once number of blocks exceeds 1024
[code]

After last block is received get Signature verification failed error. The same code signature works with a smaller binary.
[code]

To Reproduce
1. Start w

[2022-11-03 00:30] davidallenmann commented on #148
sdkconfig
Changed CONFIG_LOG2_FILE_BLOCK_SIZE from 12 to 13. This increases block size from 4096 to 8192. Completes successfully.
[code]

[2022-11-03 00:31] #148 closed

[2022-11-03 15:49] LozGMK commented on #147
Yes, I think it would be a good idea for me to move this project into the newer esp-aws-iot libraries, but I have run out of time to get this working, so I am looking to get something that "just works" for now, and at least once the OTA parts are working, I can update it all later.

It's just a shame that so much changed, all at once, moving from aws-iot-device-sdk-embedded-c to esp-aws-iot, seemi

[2022-11-03 16:05] SolidStateLEDLighting commented on #147
No, I have not experimented with any long file names.   As a habit I try to keep things short as possible while still being descriptive enough.

K.
________________________________
From: LozGMK ***@***.***>
Sent: Thursday, November 3, 2022 11:49 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Comment ***@***.***>
Subject: Re: [espressif/esp-aws-iot] OTA not work

[2022-11-03 16:22] LozGMK commented on #147
Ah, OK, so it might be the same for you if your names were longer.

By the way, I have tried tripling the size of the stack memory for the OTA task, and have doubled the size of the receive buffer, as well as reducing the number of blocks sent from a job stream to one at a time (rather than eight per publish/request) and reduced the data block size from 4096 to 1024 bytes, to greatly reduce the "l

[2022-11-03 18:03] SolidStateLEDLighting commented on #147
The only other thing that comes to mind as a test -- would be to somehow reduce is in size another area of the complete transmitted string, and then raise up the name length again to 25 and see you can still receive OTA packets.   If so, this points you in another direction other than looking strictly at the length of the thing name.

Also, I trust that you have looked directly into the console to

[2022-11-04 14:42] davidallenmann commented on #83
Ran into the same thing. If you have a module with external RAM, you can also use the external RAM to hold arrays that use a lot of DRAM.

1. Declare as pointers.
2. Allocate external PSRAM with heaps_caps_malloc
[code]
[code]

[2022-11-07 04:58] vivekmystrey opened #149 "Unable to connect AWS IoT with umqtt.robust2"
MCU: ESP32-S3
Version: GENERIC_S3-20220618-v1.19.1

With umqtt.robust2 unable to publish messages to AWS IoT Cloud and there is no error too. While, with umqtt.robust it works properly for below script with ESP32-C3 for version v1.17 and message is received successfully in AWS.

Have used micropython version - v.1.19 and his error is common with both ESP32-C3 and ESP32-S3.

And, below is my code s

[2022-11-07 17:26] yucelz opened #150 "could you please provide fleet_provisioning example ? (CA-254)"
I tried many different ways to create fleet_provisioning based on the aws-iot-device-sdk-embedded-C but couldn't figure out. The libraries' version doesn't match and caused lots of exceptions.

https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/fleet_provisioning/fleet_provisioning_with_csr

[2022-11-07 17:33] SolidStateLEDLighting commented on #147
Ok.. looks you have solved the mystery.   Nice work.

A search turns up the maximum thing name at 128 characters.   Still, the general idea would be to keep things a small and reasonably possible.

I use small string names that include the 6-character unique device MAC address, so that is my way of keeping the name small.

K.
________________________________
From: LozGMK ***@***.***>
Sent: Monday,

[2022-11-07 18:32] LozGMK commented on #147
Yes, AWS say that the thing name can be up to 128 characters, though the OTA code gives a default, for `otaconfigMAX_THINGNAME_LEN` of 64 (as mentioned in this issue: [[Feature Request] Misleading default config for otaconfigMAX_THINGNAME_LEN](https://github.com/aws/ota-for-aws-iot-embedded-sdk/issues/456)), so that needs increasing for longer names, too.

I, too, would like to use shorter names,

[2022-11-08 09:44] LozGMK commented on #147
Thank you again for your help, Keith.

Just in case anyone else comes across this, and it's useful, I also found that there was an issue that stopped an earlier part of the process working.

In `.../ota-for-aws-iot-embedded-sdk/source/ota_mqtt.c`, the thing name is added into string `pPayloadParts[ 3 ]`, and makes up part of a message published to AWS topic `$aws/things/[thing_name]/jobs/notify-ne

[2022-11-08 09:44] #147 closed

[2022-11-08 09:46] SolidStateLEDLighting commented on #147
You're welcome.   Happy to help!
________________________________
From: LozGMK ***@***.***>
Sent: Tuesday, November 8, 2022 5:44 PM
To: espressif/esp-aws-iot ***@***.***>
Cc: keith ssledlighting.com ***@***.***>; Comment ***@***.***>
Subject: Re: [espressif/esp-aws-iot] OTA not working with long(er) thing names (CA-250) (Issue #147)

Thank you again for your help, Keith.

Just in case anyone else

[2022-11-08 09:52] SolidStateLEDLighting commented on #150
Fleet provisioning is all about subscriptions and publishing to topics -- then handling the responses.   One of the ugly parts of the work is in reformating the provided keys into the correct form.   The keys will be sent to you with 2-character printable line feeds "/n" and you'll need to change those out to non-printable line feeds (the ones you just see in action on the screen).

Other than thi

[2022-11-15 09:57] yucelz commented on #87
@law-ko I appreciate your work, your project helped me to solve my problem.

[2022-11-15 10:45] NathanJPhillips opened #152 "Allow use of DER certificates"
The underlying ESP TLS implementation allows binary (DER) certificate formats but because `NetworkContext` does not allow us to pass the certificate length we are limited to ASCII (CER) certificates with the MQTT implementation. https://github.com/espressif/esp-aws-iot/pull/142 is a PR to fix this, do we think this could be merged?

[2022-11-21 23:35] robbawebba commented on #119
This bug is still active on release `202012.04-LTS` using ESP-IDF v4.4.1.

Commit `d162eb5656bfc9c324ecaf96bd72a8dc4176f53d` on the master branch fixes this issue, but has not been backported to this release branch.

Here's the patch I applied to my clone of the example that fixes the issue on the LTS release branch:

[code]

[2022-11-22 12:46] #150 closed

[2022-11-30 20:36] phelter opened #154 "[BUG] Compile with GNU fails."
When compiling with GNU 10 (default for ubuntu 22.04)

Have following error:
esp_aws_iot-src/libraries/ota-for-aws-iot-embedded-sdk/port/ota_pal.c:162:92: error: comparison of distinct pointer types lacks a cast [-Werror]
  162 |     return( pFileContext != NULL && ota_ctx.cur_ota == pFileContext && pFileContext->pFile == ( uint8_t * ) &ota_ctx );

Note I am compiling with:
[code]

Also when I do